{% extends 'account/index.html' %}

{% block account_head %}

<script src="/static/script/account_orders.js" defer></script>

{% endblock account_head %}

{% block account_outlet %}
<div class="orders-container">

    <h1 class="section_title">سفارش‌های شما</h1>
    <p class="title_smaller">سفارش‌های شما از تاریخ ثبت نام</p>

    <div class="orders-wrapper">


        {% for o in orders %}
        {% set p = products[o.product] %}
        {% if p %}
        <a href="/products/{{ p.slug }}" rel="noopener noreferrer" class="product-container">
            <div class="img-container">
                <img src="/record/pp-{{p.id}}-{{ p.photos[0] }}" loading='lazy' decoding='async' draggable='false' />
                {% if o.state == 'pending'%}
                <div class="status-container waiting description">
                    حالت انتظار
                </div>
                {% endif %}
                {% if o.state == 'resolved'%}
                <div class="status-container success description">
                    رسیدگی شده
                </div>
                {% endif %}
                {% if o.state == 'rejected'%}
                <div class="status-container error description">
                    رد شده
                </div>
                {% endif %}
            </div>
            <div class="info-container">
                <div class="info-head">
                    <div class="product-name title_small">{{ p.name }}</div>
                </div>

                <!-- <div class="info-tags title_smaller"> -->
                <!--     <div class="info-tag"> -->
                <!--         پایه فلزی -->
                <!--     </div> -->
                <!--     <div class="divider"> -->
                <!--         • -->
                <!--     </div> -->
                <!--     <div class="info-tag"> -->
                <!--         دسته چوبی -->
                <!--     </div> -->
                <!-- </div> -->
                <div class="infos-bottom title_smaller">

                    <div class="info-bottom">
                        <div class="holder">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 576 512"
                                height="25" width="25" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0 24C0 10.7 10.7 0 24 0L69.5 0c22 0 41.5 12.8 50.6 32l411 0c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3l-288.5 0 5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5L488 336c13.3 0 24 10.7 24 24s-10.7 24-24 24l-288.3 0c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5L24 48C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z">
                                </path>
                            </svg>
                            تعداد:
                        </div>
                        <div class="data">
                            {{ o.count }}
                        </div>
                    </div>
                    <div class="divider">
                        |
                    </div>
                    <div class="info-bottom">
                        <div class="holder">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                                height="25" width="25" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M480 128a64 64 0 0 0-64-64h-16V48.45c0-8.61-6.62-16-15.23-16.43A16 16 0 0 0 368 48v16H144V48.45c0-8.61-6.62-16-15.23-16.43A16 16 0 0 0 112 48v16H96a64 64 0 0 0-64 64v12a4 4 0 0 0 4 4h440a4 4 0 0 0 4-4zM32 416a64 64 0 0 0 64 64h320a64 64 0 0 0 64-64V179a3 3 0 0 0-3-3H35a3 3 0 0 0-3 3zm344-208a24 24 0 1 1-24 24 24 24 0 0 1 24-24zm0 80a24 24 0 1 1-24 24 24 24 0 0 1 24-24zm-80-80a24 24 0 1 1-24 24 24 24 0 0 1 24-24zm0 80a24 24 0 1 1-24 24 24 24 0 0 1 24-24zm0 80a24 24 0 1 1-24 24 24 24 0 0 1 24-24zm-80-80a24 24 0 1 1-24 24 24 24 0 0 1 24-24zm0 80a24 24 0 1 1-24 24 24 24 0 0 1 24-24zm-80-80a24 24 0 1 1-24 24 24 24 0 0 1 24-24zm0 80a24 24 0 1 1-24 24 24 24 0 0 1 24-24z">
                                </path>
                            </svg>
                            تاریخ:
                        </div>
                        <div class="data aUTpGc129q">
                            {{ o.created_at }}
                        </div>
                    </div>
                </div>
                <div class="info-total">
                    <div class="holder title_smaller">
                        مجموع:
                    </div>
                    <div class="data title_small">
                        <span id="fix-toman-amount" class="number">
                            {{ o.price }}
                        </span>
                        <div class="toman">
                            تومان
                        </div>
                    </div>
                </div>

            </div>
        </a>
        {% endif %}
        {% else %}
        <div class="empty-container">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="25" width="25"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2">
                </path>
            </svg>
            <h3 class="head  title_hero">
                شما سفارشی ثبت نکردید!
            </h3>
            <p class="title_smaller">
                از بخش
                <a href="/products" rel="noopener noreferrer">
                    محصولات
                </a>
                ما میتوانید سفارش حود را ثبت کنید.
            </p>
        </div>
        {% endfor %}


        <div class="pagination" data-pages="{{ pages }}" data-page="{{ page }}">
            {% if page != 0 %}
            <a rel="noopener" href="?page={{ page - 1 }}" class="title_small">
                صفحه قبلی
            </a>
            {% endif %}
            <div class="pagination-wrapper">
                {% for p in range(0, pages + 1) %}
                <a rel="noopener" href="?page={{ p }}" class="title_small{% if p == page %} active {% endif %}">
                    {{ p + 1 }}
                </a>
                {% endfor %}
            </div>
            {% if page != pages %}
            <a rel="noopener" href="?page={{ page + 1 }}" class="title_small">
                صفحه بعدی
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock account_outlet %}