{% extends 'base.html' %}


{% block title %}

<title>صنایع تولیدی حیدری - تولید انواع صندلی‌های آموزشی و اداری</title>
<meta name="description" content="صنایع تولیدی حیدری با 40 سال تجربه در تولید صندلی‌های آموزشی و اداری با کیفیت برتر.">


{% endblock title %}

{% block header %}

<link href="/static/style/home/welcome.css" rel="stylesheet" />
<link href="/static/style/home/home.css" rel="stylesheet" />
<link href="/static/style/home/about.css" rel="stylesheet" />
<link href="/static/style/home/hero.css" rel="stylesheet" />
<link href="/static/style/home/honors.css" rel="stylesheet" />
<link href="/static/style/home/products.css" rel="stylesheet" />

<link href="/static/style/components/buttons.css" rel="stylesheet" />


<script src="/static/script/home.js" defer></script>
<script src="/static/script/about.js" defer></script>
<script src="/static/script/honors.js" defer></script>
<script src="/static/script/products.js" defer></script>

<link rel="canonical" href="https://heydari-mi.com/">
<link rel="alternate" hreflang="fa" href="https://heydari-mi.com/">

{% endblock header %}

{% block content %}
<main class="home">
    <div class="welcomer title">
        <div class="welcomer-wrapper">
            <svg viewBox="-0.2 -0.4 87 111" xmlns="http://www.w3.org/2000/svg" class="welcomer-logo">
                <path
                    d="M 56.49 0 A 1 1 0 0 0 56.49 30 A 1 1 0 0 0 56.49 0 Z M 45.49 48 C 41.49 29 20.49 1 2.49 6 C -7.51 12 15.49 22 21.49 33 Q 34.49 53 34.49 81 A 1 1 0 0 0 50.49 80 L 50.49 70 C 50.49 63 54.49 60 59.49 67 Q 68.49 82 73.49 104 C 75.49 113 86.49 112 86.49 101 C 86.49 84 72.49 42 52.49 44 C 48.49 45 47.49 46 45.49 48">
                </path>
            </svg>
            <span>
                <div class="welcomer-motto ltr">
                    <span style="animation-delay: 0ms" class="word">
                        NOT
                    </span>
                    <span style="animation-delay: 150ms" class="word">
                        THE
                    </span>
                    <span style="animation-delay: 300ms" class="word">FIRST,</span><span style="animation-delay: 450ms"
                        class="word">BUT</span><span style="animation-delay: 600ms" class="word">THE</span><span
                        style="animation-delay: 750ms" class="word">BEST</span>
                </div>
            </span><span>
                <div class="welcomer-motto title_hero">
                    <span style="animation-delay: 0ms" class="word">اولین</span><span style="animation-delay: 150ms"
                        class="word">نیستیم</span><span style="animation-delay: 300ms" class="word">ولی</span><span
                        style="animation-delay: 450ms" class="word">تلاش</span><span style="animation-delay: 600ms"
                        class="word">میکنیم</span><span style="animation-delay: 750ms" class="word">بهترین</span><span
                        style="animation-delay: 900ms" class="word">باشیم</span>
                </div>
            </span><span>
                <div class="company-name title">
                    <span>
                        صنایع تولیدی
                        <span class="logo-text">حیدری</span> تقدیم
                        میکند</span>
                </div>
            </span>
        </div>
    </div>
    <section class="hero-container">
        <div class="hero-wrapper">
            <div class="hero-content">
                <div class="title_small typer-wrapper">
                    تولید انواع صندلی های
                    <!-- -->
                    <span class="title">
                        <span class="typer-word"></span><span class="cursor"></span>
                    </span>
                    خود را به ما
                    بسپارید.
                </div>
                <h1 class="title_hero company">
                    صنایع تولیدی
                    <!-- -->
                    <span class="section_title">حیدری</span>
                </h1>
                <p class="title_smaller detail">
                    ما مفتخریم در طول 40 سال فعالیت تولیدی، همواره
                    کیفیت برتر را جهت فراهم نمودن رضایت مشتریان
                    بعنوان هدف اصلی در نظر گرفته و در عرصه تولید ملی
                    در زمینه صندلی آموزشی و نیمکت انتظار و تجهیزات
                    اداری از پیشتازان بوده ایم.
                    <!-- -->
                </p>
                <div class="cta-wrapper">
                    <a aria-label="محصولات صنایع تولیدی حیدری" href="/products" class="main hero-button title_smaller">
                        محصولات
                    </a>
                    <a aria-label="درباره صنایع تولیدی حیدری" href="#about" class="sec hero-button">درباره ما</a>
                </div>
            </div>
            <img class="hero-img" width="450" src="/static/image/chair.webp" loading="lazy" decoding="async"
                alt="نمایی از محصولات صنایع تولیدی حیدری - صندلی‌های آموزشی و اداری با کیفیت بالا" />
        </div>
    </section>
    <section id="about" class="about-container">
        <h2 class="section_title about-header">
            <span>درباره ما</span>
        </h2>
        <div class="about-wrapper">
            <div id="about_content" class="about-content-wrapper">
                <div class="about-content ">
                    <h3 class="content-title section_title">
                        تاریخچه
                    </h3>
                    <p class="content-descrption title_small">
                        صنایع تولیدی حیدری با بیش از چهار دهه تجربه در تولید صندلی‌های آموزشی، اداری، خانگی، استادیومی،
                        رستورانی و ... با کیفیت و نوآوری‌های بی‌نظیر، به یکی از پیشگامان این صنعت تبدیل شده است. این
                        شرکت توسط محمدرضا حیدری بنیان‌گذاری شده و همواره در مسیر پیشرفت و ارتقاء کیفیت محصولات خود گام
                        برداشته است.
                    </p>
                </div>
                <div class="about-content ">
                    <h3 class="content-title section_title">
                        تاریخچه
                    </h3>
                    <p class="content-descrption title_small">
                        صنایع تولیدی حیدری با بیش از چهار دهه تجربه در تولید صندلی‌های آموزشی، اداری، خانگی، استادیومی،
                        رستورانی و ... با کیفیت و نوآوری‌های بی‌نظیر، به یکی از پیشگامان این صنعت تبدیل شده است. این
                        شرکت توسط محمدرضا حیدری بنیان‌گذاری شده و همواره در مسیر پیشرفت و ارتقاء کیفیت محصولات خود گام
                        برداشته است.
                    </p>
                </div>
                <div class="about-content ">
                    <h3 class="content-title section_title">
                        ماموریت
                    </h3>
                    <p class="content-descrption title_small">
                        صنایع تولیدی حیدری با بیش از چهار دهه تجربه در تولید صندلی‌های آموزشی، اداری، خانگی، استادیومی،
                        رستورانی و ... با کیفیت و نوآوری‌های بی‌نظیر، به یکی از پیشگامان این صنعت تبدیل شده است. این
                        شرکت توسط محمدرضا حیدری بنیان‌گذاری شده و همواره در مسیر پیشرفت و ارتقاء کیفیت محصولات خود گام
                        برداشته است.
                    </p>
                </div>
                <div class="about-content ">
                    <h3 class="content-title section_title">
                        چشم انداز
                    </h3>
                    <p class="content-descrption title_small">
                        صنایع تولیدی حیدری با بیش از چهار دهه تجربه در تولید صندلی‌های آموزشی، اداری، خانگی، استادیومی،
                        رستورانی و ... با کیفیت و نوآوری‌های بی‌نظیر، به یکی از پیشگامان این صنعت تبدیل شده است. این
                        شرکت توسط محمدرضا حیدری بنیان‌گذاری شده و همواره در مسیر پیشرفت و ارتقاء کیفیت محصولات خود گام
                        برداشته است.
                    </p>
                </div>
            </div>
            <div id="about_slide" class="about-img-wrapper">
                <div class="about-slider prev">
                    <img loading="lazy" decoding="async" draggable="false" src="/static/image/home/about/about1.webp"
                        alt="درباره صنایع تولیدی حیدری" />
                </div>
                <div class="about-slider active">
                    <img loading="lazy" decoding="async" draggable="false" src="/static/image/home/about/about2.webp"
                        alt="درباره صنایع تولیدی حیدری" />
                </div>
                <div class="about-slider next">
                    <img loading="lazy" decoding="async" draggable="false" src="/static/image/home/about/about3.webp"
                        alt="درباره صنایع تولیدی حیدری" />
                </div>
                <div class="about-slider">
                    <img loading="lazy" decoding="async" draggable="false" src="/static/image/home/about/about4.webp"
                        alt="درباره صنایع تولیدی حیدری" />
                </div>
                <div class="about-slider">
                    <img loading="lazy" decoding="async" draggable="false" src="/static/image/home/about/about5.webp"
                        alt="درباره صنایع تولیدی حیدری" />
                </div>
            </div>
        </div>
    </section>
    <section id="honors" class="honors-container">
        <h2 class="section_title honor-header">
            <span>افتخارات ما</span>
        </h2>
        <div class="honors-wrapper">
            <div class="honor-container ">
                <div class="honor-cup">
                    <div class="cup-glass"></div>
                    <img src="/static/image/home/honors/honor1.webp" alt="افتخارنامه و جوایز صنایع تولیدی حیدری"
                        class="cup-img" loading="lazy" decoding="async" />
                </div>
                <div class="honor-content">
                    <div class="honor-name title">
                        <span>برند برتر
                            <!-- -->
                        </span>
                    </div>
                    <div class="honor-description title_smaller">
                        <span>نخستین نمایشگاه تخصصی برندهای برتر
                            مبلمان اداری و گیشه</span>
                    </div>
                </div>
            </div>
            <div class="honor-container ">
                <div class="honor-cup">
                    <div class="cup-glass"></div>
                    <img src="/static/image/home/honors/honor2.webp" alt="افتخارنامه و جوایز صنایع تولیدی حیدری"
                        class="cup-img" loading="lazy" decoding="async" />
                </div>
                <div class="honor-content">
                    <div class="honor-name title">
                        <span>نمایشگاه بین المللی مبلمان
                            <!-- -->
                        </span>
                    </div>
                    <div class="honor-description title_smaller">
                        <span>تندیس و لوح تقدیر در هفتمین نمایشگاه
                            تخصصی مبلمان</span>
                    </div>
                </div>
            </div>
            <div class="honor-container ">
                <div class="honor-cup">
                    <div class="cup-glass"></div>
                    <img src="/static/image/home/honors/honor3.webp" alt="افتخارنامه و جوایز صنایع تولیدی حیدری"
                        class="cup-img" loading="lazy" decoding="async" />
                </div>
                <div class="honor-content">
                    <div class="honor-name title">
                        <span>صنایع مبل و دکوراسیون خانگی
                            <!-- -->
                        </span>
                    </div>
                    <div class="honor-description title_smaller">
                        <span>
                            تندیس و لوح تقدیر در چهارمین نمایشگاه
                            بین المللی مبلمان اداری</span>
                    </div>
                </div>
            </div>
            <div class="honor-container">
                <div class="honor-cup">
                    <div class="cup-glass"></div>
                    <img src="/static/image/home/honors/honor4.webp" alt="افتخارنامه و جوایز صنایع تولیدی حیدری"
                        class="cup-img" loading="lazy" decoding="async" />
                </div>
                <div class="honor-content">
                    <div class="honor-name title">
                        <span>لوح یادبود
                            <!-- -->
                        </span>
                    </div>
                    <div class="honor-description title_smaller">
                        <span>
                            تندیس و لوح تقدیر در هفتمین نمایشگاه
                            تخصصی صنایع مبل و دکوراسیون داخلی</span>
                    </div>
                </div>
            </div>
            <div class="honor-container">
                <div class="honor-cup">
                    <div class="cup-glass"></div>
                    <img src="/static/image/home/honors/honor5.webp" alt="افتخارنامه و جوایز صنایع تولیدی حیدری"
                        class="cup-img" loading="lazy" decoding="async" />
                </div>
                <div class="honor-content">
                    <div class="honor-name title">
                        <span>لوح یادبود
                            <!-- -->
                        </span>
                    </div>
                    <div class="honor-description title_smaller">
                        <span>
                            تندیس و لوح تقدیر در شانزدهمین نمایشگاه
                            بین المللی مبلمان منزل و اداری</span>
                    </div>
                </div>
            </div>
            <div class="honor-container">
                <div class="honor-cup">
                    <div class="cup-glass"></div>
                    <img src="/static/image/home/honors/honor6.webp" alt="افتخارنامه و جوایز صنایع تولیدی حیدری"
                        class="cup-img" loading="lazy" decoding="async" />
                </div>
                <div class="honor-content">
                    <div class="honor-name title">
                        <span>لوح یادبود
                            <!-- -->
                        </span>
                    </div>
                    <div class="honor-description title_smaller">
                        <span>
                            تندیس و لوح تقدیر در نونزدهمین نمایشگاه
                            بین المللی مبلمان منزل و اداری
                            Hofex2010</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="products" class="products-container">
        <h2 class="section_title products-header">
            <span class="header-wrapper">
                <span>بهترین محصولات</span>
            </span>
        </h2>
        <div class="products-wrapper">
            <div class="products-slider">
                {% for p in best_products %}
                <a href="/products/{{ p.slug }}" class="product-slider ">
                    <img loading="lazy" decoding="async" draggable="false" src="/record/pp-{{ p.id }}-{{ p.photos[0] }}"
                        alt=" {{p.name}} با کیفیت بالا از صنایع تولیدی حیدری " />
                </a>
                {% endfor %}
            </div>
        </div>
        <a aria-label=" محصولات صنایع تولیدی حیدری" class="arrow-button basic-button title_small" href="/products">
            <div class="icon-arrow before">
                <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="25" width="25"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3">
                    </path>
                </svg>
            </div>
            <div class="label">همه محصولات</div>
            <div class="icon-arrow after">
                <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="25" width="25"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3">
                    </path>
                </svg>
            </div>
        </a>
    </section>
</main>
{% endblock content %}