main.product {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background: linear-gradient(45deg, var(--sixty-percent), transparent);

    .product-wrapper {
        width: 100%;
        min-height: 80vh;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(10vw + 20px);

        padding: 7vh 5vw;

        @media screen and (max-width: 1440px) {
            gap: calc(5vw + 10px);
        }
        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
            gap: calc(2em + 10px);
        }

        aside.product-details {
            width: clamp(0px, 100%, 500px);

            display: flex;
            flex-direction: column;

            > .category {
                opacity: 0.7;
                margin-bottom: 0.5em;
                cursor: default;
                width: max-content;

                display: flex;
                align-items: center;
                gap: 0.5em;
            }

            h2 {
                margin-bottom: 1em;
                cursor: default;
                width: max-content;
            }

            p {
                line-height: 1.8em;
                cursor: default;
            }

            .buy-section {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                margin-top: 2rem;

                .price-holder {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;

                    span {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        font-family: number;
                        white-space: nowrap;
                    }

                    .toman {
                        scale: 0.8;
                        transform: translateY(10px);
                        opacity: 0.7;
                    }

                    &::before,
                    &::after {
                        content: '';
                        width: 100%;
                        height: 1px;
                        background-color: black;
                    }
                }

                .buy-ctas {
                    width: 100%;
                    display: flex;
                    align-items: stretch;
                    justify-content: space-between;
                    gap: 2rem;

                    .counter-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5rem;

                        border-bottom: 1px solid var(--primary-color);

                        position: relative;
                        z-index: 1;

                        .holder {
                            position: absolute;
                            width: 100%;
                            text-align: center;

                            z-index: 1;
                            bottom: 0;
                            opacity: 0.7;

                            transform: translateY(calc(100% + 0.5rem));
                        }

                        input {
                            background: none;
                            border: none;
                            padding: 0.5rem;
                            text-align: center;

                            min-width: 50px;
                            max-width: 100px;

                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                            /* Firefox */
                            &[type='number'] {
                                -moz-appearance: textfield;
                            }
                        }

                        .counter-cta {
                            width: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            border-radius: 0.5rem;
                        }
                    }

                    .buy-cta {
                        font-family: yekanBold;
                        flex: 1 0 0;
                        padding: 1rem;

                        color: white;
                        background-color: var(--sixty-percent);
                        border-radius: 0.7rem;

                        transition: 0.2s ease;

                        &:hover {
                            transform: scale(1.05);
                        }
                        &:active {
                            transform: scale(1);
                        }
                    }
                }
            }
        }
        aside.product-img {
            display: flex;
            align-items: center;
            flex-direction: column;

            width: clamp(0px, 100%, 600px);
            aspect-ratio: 1/1;

            .main-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 100%;

                aspect-ratio: 1/1;

                border-radius: 1rem;
                background-color: white;
                // background-image: linear-gradient(45deg, #ffb74d, transparent);
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                position: relative;
                isolation: isolate;

                overflow: hidden;

                z-index: 2;

                img {
                    object-fit: contain;
                }
            }
            .others {
                flex: 1 0 0;
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                row-gap: 2rem;

                padding: 1rem;

                transform: translateY(-150px) scale(0.2);

                animation: 1s 0.4s others-slidein ease forwards;

                z-index: 1;

                @media screen and (max-width: 768px) {
                    margin-top: 1.5rem;
                }

                @keyframes others-slidein {
                    from {
                        transform: translateY(-150px) scale(0.2);
                    }
                    to {
                        transform: translateY(0) scale(1);
                        z-index: 2;
                    }
                }

                @media screen and (max-width: 1024px) {
                    padding: 0;
                }

                .other {
                    height: 100px;
                    aspect-ratio: 1/1;

                    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
                    // background-image: linear-gradient(
                    //     288deg,
                    //     #ffb74d 10%,
                    //     transparent 50%
                    // );
                    background-color: white;
                    border-radius: 0.5rem;

                    cursor: pointer;

                    margin: 0 2.5em;

                    overflow: hidden;

                    transition: 0.3s ease transform;

                    @media screen and (max-width: 1024px) {
                        height: 70px;
                    }
                    @media screen and (max-width: 768px) {
                        height: 80px;
                        margin: 0 0.5em;
                    }

                    &:hover {
                        &:nth-child(even) {
                            transform: translateY(-6%) rotate(-5deg) scale(1.2);
                        }
                        &:nth-child(odd) {
                            transform: translateY(-6%) rotate(5deg) scale(1.2);
                        }
                    }
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    section.product-about {
        width: clamp(0px, 100%, 1400px);

        padding: 0 1rem;

        display: flex;
        flex-direction: column;

        margin: 0 auto;
        margin-bottom: 6rem;

        .about-select {
            width: 100%;

            display: flex;
            gap: 1rem;

            padding-right: 2rem;

            @media screen and (max-width: 768px) {
                justify-content: center;
                padding-right: 0;
            }

            button {
                padding: 1rem 2rem;
                border-top-right-radius: 0.7rem;
                border-top-left-radius: 0.7rem;

                background-color: var(--sixty-percent);
                color: white;

                transition: 0.3s ease;

                @media screen and (max-width: 768px) {
                    font-size: clamp(0.8rem, 0.4rem + 1.6vw, 1rem);
                    font-family: 'yekan';
                }

                &.active {
                    background-color: white;
                    color: black;
                }
            }
        }

        .about-wrapper {
            width: 100%;
            height: auto;

            min-height: 600px;

            background-color: white;

            border-radius: 1rem;

            position: relative;
            isolation: isolate;

            overflow: hidden;

            will-change: height;
            transition: 0.3s ease;

            .about,
            .info {
                padding: 1.5rem;

                width: 100%;
                height: 100%;
            }

            .about {
                line-height: 1.8em;

                transform: translateX(200%);

                transition: 0.5s ease;

                &.active {
                    transform: translateX(0);
                }
            }

            .info {
                position: absolute;
                inset: 0;

                transform: translateX(-200%);

                transition: 0.5s ease;

                &.active {
                    transform: translateX(0);
                }

                table {
                    width: 100%;

                    border: 0;
                    border-collapse: collapse;

                    tr {
                        border-bottom: 1px solid #ddd;
                        color: #666;
                        background-color: white;

                        line-height: 1.7em;

                        th {
                            color: #666;
                            border-left: 1px solid #ddd;
                            padding: 15px 20px;
                            font-weight: normal;
                            white-space: nowrap;
                        }

                        td {
                            padding: 15px 20px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    section.products-related {
        width: 100%;

        min-height: 100vh;

        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5vh 3vw;

        background-color: white;

        position: relative;
        isolation: isolate;

        &::before,
        &::after {
            content: '';

            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            right: 0;
            left: 0;

            z-index: -1;
        }

        &::before {
            background-image: linear-gradient(
                135deg,
                var(--sixty-percent) 4%,
                transparent 12%
            );
        }
        &::after {
            background-image: linear-gradient(
                -135deg,
                var(--sixty-percent) 4%,
                transparent 12%
            );
        }

        > h2 {
            text-align: center;
            margin-bottom: 2em;

            border-bottom: 2px solid var(--sixty-percent);
            padding-bottom: 1rem;
        }

        .related-wrapper {
            width: 100%;

            display: flex;
            align-items: center;

            padding: 1em;
            padding-bottom: 2em;

            gap: 2em;
            overflow: auto;

            &::-webkit-scrollbar {
                height: 15px;
            }

            .related {
                flex-shrink: 0;

                width: clamp(0px, 100%, 400px);
                aspect-ratio: 1 / 1.4;

                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;

                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                background-color: white;
                border-radius: 1rem;

                cursor: pointer;

                position: relative;
                isolation: isolate;
                overflow: hidden;

                @media screen and (max-width: 768px) {
                    width: clamp(0px, 100%, 300px);
                }

                .head {
                    position: absolute;
                    top: 0;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    width: 100%;

                    .category,
                    .code {
                        padding: 0.5em;
                        background-color: var(--ten-percent);
                        color: white;
                    }
                    .category {
                        border-bottom-left-radius: 0.5rem;
                    }
                    .code {
                        border-bottom-right-radius: 0.5rem;
                    }
                }

                img {
                    width: 100%;
                    height: 80%;
                    margin: auto 0;

                    object-fit: cover;
                }
                .detail {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 100%;
                    min-height: 4em;

                    background-color: var(--sixty-percent);
                    padding: 1em;
                }
            }
        }
    }
}
