.alerts {
    position: fixed;
    top: 0;
    right: 0;

    z-index: 994;
    bottom: 0;

    width: clamp(0px, 100%, 500px);

    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 1.5rem;

    padding: 1rem;

    visibility: hidden;

    pointer-events: none;

    &.show {
        visibility: visible;
    }

    .alert-container {
        --color: var(--alert-success);

        flex-shrink: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        pointer-events: all;

        width: 100%;

        &.info {
            --color: var(--alert-info);
        }

        &.success {
            --color: var(--alert-success);
        }

        &.error {
            --color: var(--alert-error);
        }

        &:last-child {
            margin-bottom: 80px;
        }

        .alert {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            width: 100%;

            padding: 1rem;

            background-color: white;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            border-radius: 10px;

            position: relative;
            z-index: 1;

            overflow: hidden;

            touch-action: pan-x pan-y;

            transform: translateY(-200%);
            opacity: 0;

            animation: go-in 0.5s ease forwards;

            &.hide {
                animation: go-out 0.5s cubic-bezier(0.68, 0, 0.825, 0.115)
                    forwards;
            }

            @keyframes go-in {
                from {
                    transform: translateX(200%);
                    opacity: 0;
                }
                to {
                    transform: translateX(0%);
                    opacity: 1;
                }
            }

            @keyframes go-out {
                from {
                    transform: translateX(0%);
                    opacity: 1;
                }
                to {
                    transform: translateX(200%);
                    opacity: 0;
                }
            }

            .head {
                width: 100%;
                display: flex;
                align-items: center;

                gap: 0.5em;

                * {
                    letter-spacing: -0.5px;
                    font-family: 'iranLight';
                }

                svg {
                    height: 25px;
                    width: 25px;
                    flex-shrink: 0;

                    color: var(--color);
                }
            }

            .body {
                padding-right: 10px;
                line-height: 2em;
            }

            .bg-style {
                position: absolute;
                inset: 0;

                display: flex;

                width: 100%;
                height: 100%;

                z-index: -1;

                .corner,
                .line {
                    content: '';
                    position: absolute;
                    height: 100%;
                }

                .line {
                    width: 100%;
                    background-color: var(--color);

                    opacity: 0.1;

                    animation: move linear forwards;

                    @keyframes move {
                        from {
                            transform: translateX(0%);
                        }
                        to {
                            transform: translateX(100%);
                        }
                    }
                }
                .corner {
                    width: 10px;

                    border-top-left-radius: 100vmax;
                    border-bottom-left-radius: 100vmax;
                    background-color: var(--color);

                    z-index: 2;
                }
            }
        }
    }

    @media (max-width: 768px) {
        top: unset;
        right: unset;

        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        @keyframes go-in {
            from {
                transform: translateY(200%);
                opacity: 0;
            }
            to {
                transform: translateY(0%);
                opacity: 1;
            }
        }

        @keyframes go-out {
            from {
                transform: translateY(0%);
                opacity: 1;
            }
            to {
                transform: translateY(200%);
                opacity: 0;
            }
        }
    }
}
