section.about-page-honors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10vh;

    width: 100%;

    padding: 7vh 3vw;
    background: var(--sixty-percent);

    // debug
    height: 100vh;

    margin-top: -15vh;

    @media screen and (max-width: 768px) {
        margin-top: -35vh;
    }

    h2.honors-title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(2vw + 3px);

        overflow: hidden;
        position: relative;
        isolation: isolate;

        &::after,
        &::before {
            content: '';
            height: 2px;
            width: 0;

            position: relative;
        }

        &::after {
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), black);
        }
        &::before {
            background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0), black);
        }

        span {
            transform: translateY(200%);
            display: inline-block;
            white-space: nowrap;

            @keyframes project-title-slide-in {
                from {
                    transform: translateY(200%);
                }
                to {
                    transform: translateY(0%);
                }
            }
        }

        &.active {
            &::after,
            &::before {
                animation: project-title-line-open 1s
                    cubic-bezier(0.45, 0.02, 0.09, 0.98) 1s forwards;

                @keyframes project-title-line-open {
                    from {
                        width: 0;
                    }
                    to {
                        width: 150px;
                    }
                }
            }

            span {
                animation: project-title-slide-in 1s
                    cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
            }
        }
    }

    .honors-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(3vw + 5px);

        width: 100%;

        .honor-card {
            flex-shrink: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            height: 450px;
            aspect-ratio: 0.7/1;
            border-radius: 10px;

            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(5px);
            box-shadow: 0px 5px 10px -5px black;

            overflow: hidden;

            img {
                object-fit: contain;
                width: 100%;
                max-height: 100%;
            }
        }
    }
}
