{% extends 'base.html' %}

{% block title %}

<title>مقالات صنایع تولیدی حیدری | مطالب تخصصی در زمینه تولید میز و صندلی</title>
<meta name="description"
   content="مقالات تخصصی صنایع تولیدی حیدری درباره طراحی، تولید و انتخاب میز و صندلی‌های آموزشی و اداری. مطالعه مطالب برای کسب اطلاعات بیشتر." />

<meta property="og:title" content="وبلاگ صنایع تولیدی حیدری | مقالات تخصصی مبلمان اداری و دکوراسیون">
<meta property="og:description"
   content="در وبلاگ صنایع تولیدی حیدری، به بررسی نکات و مقالات تخصصی در زمینه مبلمان اداری، طراحی داخلی و بهبود فضای کاری پرداخته می‌شود.">
<meta property="og:image" content="https://heydari-mi.com/static/image/logo.png">
<meta property="og:url" content="https://heydari-mi.com/blogs">
<meta property="og:type" content="website">
<meta property="og:locale" content="fa_IR">
<meta property="og:site_name" content="صنایع تولیدی حیدری">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="وبلاگ صنایع تولیدی حیدری | مقالات تخصصی مبلمان اداری و دکوراسیون">
<meta name="twitter:description"
   content="با مطالعه وبلاگ ما، از مقالات تخصصی در زمینه مبلمان اداری، طراحی داخلی و نکات بهبود فضای کاری بهره‌مند شوید.">
<meta name="twitter:image" content="https://heydari-mi.com/static/image/logo.png">

{% endblock title %}

{% block header %}

<link href="/static/style/blogs/blogs.css" rel="stylesheet" />
<link href="/simurgh-ssrs/style/blogs.css" rel="stylesheet" />

<link rel="canonical" href="https://heydari-mi.com/blogs/">
<link rel="alternate" hreflang="fa" href="https://heydari-mi.com/blogs">
<link rel="alternate" hreflang="x-default" href="https://heydari-mi.com/blogs">

{% endblock header %}

{% block content %}
<main class="blogs-container">
   <header class="products-header"
      style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(&quot;/static/image/header.webp&quot;);">
      <h1 class="header-title title_hero">مقالات حیدری</h1>
   </header>
   {{ blogs_body | safe }}
</main>
{% endblock content %}