{% extends 'base.html' %}

{% block title %}

<title>مقالات صنایع تولیدی حیدری | مطالب تخصصی در زمینه تولید میز و صندلی</title>
<meta name="description"
   content="مقالات تخصصی صنایع تولیدی حیدری درباره طراحی، تولید و انتخاب میز و صندلی‌های آموزشی و اداری. مطالعه مطالب برای کسب اطلاعات بیشتر." />

{% endblock title %}

{% block header %}

<link href="/static/style/blogs/blogs.css" rel="stylesheet" />
<link href="/simurgh-ssrs/style/blogs.css" rel="stylesheet" />

<link rel="canonical" href="https://heydari-mi.com/blogs">
<link rel="alternate" hreflang="fa" href="https://heydari-mi.com/blogs">
<link rel="alternate" hreflang="x-default" href="https://heydari-mi.com/blogs">

{% endblock header %}

{% block content %}
<main class="blogs-container">
   <header class="products-header"
      style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(&quot;/static/image/header.webp&quot;);">
      <h1 class="header-title title_hero">مقالات حیدری</h1>
   </header>
   {{ blogs_body | safe }}
</main>
{% endblock content %}