section.hero-container {
    width: 100%;
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
    // flex-wrap: wrap;

    padding: 3rem 4rem;

    background-color: var(--sixty-percent);
    background-image: linear-gradient(0deg, white, transparent 10%);

    @media screen and (max-width: 1250px) {
        padding-top: 15vh;
    }
    @media screen and (max-width: 1024px) {
        padding: 1.5rem 2rem;
    }
    @media screen and (max-width: 768px) {
        padding: 0.5rem 1rem;
        padding-top: 15vh;
    }

    .hero-wrapper {
        width: clamp(0px, 100%, 1500px);
        display: flex;
        align-items: center;
        justify-content: space-around;

        color: black;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        .hero-img {
            width: clamp(0px, 550px, 100%);

            object-fit: cover;

            min-height: 824px;

            opacity: 0;
            translate: 50%;

            animation: hero-img-slidein 1s 0.3s ease-in-out forwards;

            @media screen and (max-width: 1440px) {
                width: clamp(0px, 350px, 100%);
                min-height: 524px;
            }

            @keyframes hero-img-slidein {
                from {
                    opacity: 0;
                    translate: 20%;
                }
                to {
                    opacity: 1;
                    translate: 0;
                }
            }
        }
        .hero-content {
            display: flex;
            flex-direction: column;
            gap: 2vh;

            width: clamp(0px, 600px, 100%);

            .typer-wrapper {
                font-family: 'yekan';
                @media screen and (max-width: 1024px) {
                    min-height: 60px;
                }
                .typer-word {
                    color: black;
                    border-bottom: 1px solid black;

                    font-family: 'iranBold';
                }
                .cursor {
                    display: inline-block;
                    width: 2px;
                    height: 1em;

                    background-color: black;

                    transform: scaleY(0);

                    transform-origin: center center;

                    animation: cursor-effect 5s ease-in-out forwards infinite;

                    @keyframes cursor-effect {
                        0% {
                            transform: scaleY(0);
                        }
                        10% {
                            transform: scaleY(1);
                        }
                        20% {
                            transform: scaleY(0);
                        }
                        30% {
                            transform: scaleY(1);
                        }
                        40% {
                            transform: scaleY(0);
                        }
                        50% {
                            transform: scaleY(1);
                        }

                        60% {
                            transform: scaleY(0);
                        }
                        70% {
                            transform: scaleY(1);
                        }
                        80% {
                            transform: scaleY(0);
                        }
                        90% {
                            transform: scaleY(1);
                        }
                        100% {
                            transform: scaleY(0);
                        }
                    }
                }
            }

            .detail {
                line-height: 1.8em;
                @media screen and (min-width: 768px) {
                    font-family: 'yekan';
                }
            }

            .cta-wrapper {
                display: flex;
                gap: calc(3vw + 10px);

                margin-top: 3vh;

                @media screen and (max-width: 340px) {
                    flex-direction: column;

                    .hero-button {
                        text-align: center;
                    }
                }

                .hero-button {
                    border: 0;
                    height: 100%;

                    padding: 1rem 3rem;
                    border-radius: 10px;

                    font: inherit;
                    font-family: iranBold;

                    white-space: nowrap;

                    box-shadow: 0px 20px 15px -20px black;
                    cursor: pointer;

                    @media screen and (max-width: 768px) {
                        padding: 0.8em 3em;
                    }

                    &.main {
                        background: var(--ten-percent);
                        color: var(--accent-color);
                        perspective: 1000px;
                    }
                    &.sec {
                        background-color: var(--sixty-percent);
                        box-shadow: none;
                        border: 1px solid black;
                        color: black;
                    }
                }
            }
        }
    }
}
