{% extends 'base.html' %}

{% block title %}

<title>ورود به صنایع تولیدی حیدری</title>
<meta name="description" content="صفحه ورود اعضا و مشتریان صنایع تولیدی حیدری">


<meta property="og:title" content="ورود به صنایع تولیدی حیدری">
<meta property="og:image" content="https://heydari-mi.com/static/image/logo.png">
<meta property="og:url" content="https://heydari-mi.com/login">
<meta property="og:type" content="product">
<meta property="og:locale" content="fa_IR">
<meta property="og:site_name" content="صنایع تولیدی حیدری">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ورود به صنایع تولیدی حیدری">
<meta name="twitter:image" content="https://heydari-mi.com/static/image/logo.png">


{% endblock title %}

{% block header %}

<link href="/static/style/login/login.css" rel="stylesheet" />
<script src="/static/script/login.js" defer></script>

<link rel="canonical" href="https://heydari-mi.com/login/">
<link rel="alternate" hreflang="fa" href="https://heydari-mi.com/login/">
<link rel="alternate" hreflang="x-default" href="https://heydari-mi.com/login/">


{% endblock header %}

{% block content %}

<main class="login">
    login
</main>

{% endblock content %}