.blog-container {
    width: 100%;

    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10vh;

    overflow: hidden;

    .simurgh--blog-fnd {
        width: 100%;

        .simurgh--blog-thumbnail,
        > header,
        .simurgh--blog-options,
        .simurgh--blog-preview {
            width: clamp(0px, 100%, 1000px);
        }

        .simurgh--blog-options {
            @media screen and (max-width: 768px) {
                margin: 2em 0;
            }
        }

        .simurgh--blog-thumbnail {
            max-width: unset;
            max-height: unset;
            height: unset;

            width: clamp(0px, 100%, 1200px);

            aspect-ratio: 3 / 1;

            @media screen and (max-width: 768px) {
                aspect-ratio: 2 / 1;
            }
        }

        > header {
            &::before,
            &::after {
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
            > span {
                @media screen and (max-width: 768px) {
                    padding: 0;
                    white-space: normal;
                    text-align: center;
                }
            }
        }
    }

    .related-blogs {
        h3 {
            font-size: clamp(1.6rem, 2.9vw + 1.3rem, 2.8rem);
            margin-bottom: 0;
            margin-top: 2em;
        }
    }

    h1 {
        margin-bottom: 1em;
        font-family: 'iranBold';
    }

    * {
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'iranSans';
            margin-bottom: 0.5em;
        }

        p {
            margin-bottom: 1em;
            font-family: 'yekan';
        }

        hr {
            margin-block: 2rem;
        }

        img,
        video {
            margin-block: 2rem;
        }
    }
}
