main.blog-container {
    width: 100%;

    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10vh;

    padding: 7vh 5vw;

    overflow: hidden;

    .simurgh--blog-fnd {
        width: clamp(0px, 100%, 1000px);

        display: flex;
        align-items: center;
        flex-direction: column;

        img.simurgh--blog-thumbnail {
            width: 100%;
            max-height: 350px;

            border-radius: 16px;
            object-fit: cover;

            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            @media screen and (max-width: 768px) {
                max-height: 200px;
            }
        }

        header {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            width: 100%;

            font-size: clamp(1.6rem, 2.9vw + 1.3rem, 2.8rem);
            font-family: 'iranBold';
            white-space: nowrap;

            margin-top: 1em;

            opacity: 0;
            transform: translateY(100%);

            animation: welcomer-companyname-fadein 1s 1s ease-in-out forwards;

            @keyframes welcomer-companyname-fadein {
                from {
                    transform: translateY(100%);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            &::before,
            &::after {
                content: '';
                width: 0;
                height: 2px;
                background-color: black;

                animation: width-open 2s 1.5s
                    cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                @keyframes width-open {
                    from {
                        width: 0px;
                    }
                    to {
                        width: 100%;
                    }
                }
            }
            span {
                padding: 0 1em;
                white-space: nowrap;
            }
        }

        .simurgh--blog-options {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            column-gap: 1em;
            row-gap: 1.5em;
            width: 100%;
            margin: 3em 0;

            .simurgh--blog-option {
                display: flex;
                align-items: center;
                gap: 0.5em;

                font-size: clamp(0.8rem, 0.4rem + 1.6vw, 1rem);
                font-family: 'yekan';

                > div {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;

                    svg {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }

        .simurgh--blog-preview {
            h1 {
                font-size: clamp(1.6rem, 2.9vw + 1.3rem, 2.8rem);
                font-family: 'iranBold';
            }
            h2 {
                font-size: clamp(1.5rem, 2.8vw + 1.2rem, 2.7rem);
                font-family: 'iranBold';
            }
            h3 {
                font-size: clamp(1.4rem, 2.7vw + 1.1rem, 2.6rem);
                font-family: 'iranSans';
            }
            h4 {
                font-size: clamp(1.3rem, 2.6vw + 1rem, 2.5rem);
                font-family: 'yekanBold';
            }
            h5 {
                font-size: clamp(1.2rem, 2.5vw + 0.9rem, 2.4rem);
                font-family: 'yekanBold';
            }
            h6 {
                font-size: clamp(1.1rem, 2.4vw + 0.8rem, 2.3rem);
                font-family: 'yekan';
            }

            p {
                font-family: 'yekan';

                span {
                    line-height: 1.8em;
                }
            }

            img {
                max-height: 300px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                border-radius: 1rem;
            }

            video {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                max-height: 300px;
                background-color: transparent;
                border-radius: 1rem;
            }

            iframe {
                width: 500px;
                aspect-ratio: 1;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                border-radius: 1rem;
            }

            audio {
                filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));
            }
        }
    }

    .blog-wrapper {
        width: clamp(0px, 100%, 1000px);

        display: flex;
        align-items: center;
        flex-direction: column;

        img.thumbnail {
            width: 100%;
            max-height: 350px;

            border-radius: 16px;
            object-fit: cover;

            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            @media screen and (max-width: 768px) {
                max-height: 200px;
            }
        }

        .blog-title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            width: 100%;

            margin-top: 1em;

            opacity: 0;
            transform: translateY(100%);

            animation: welcomer-companyname-fadein 1s 1s ease-in-out forwards;

            @keyframes welcomer-companyname-fadein {
                from {
                    transform: translateY(100%);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            &::before,
            &::after {
                content: '';
                width: 0;
                height: 2px;
                background-color: black;

                animation: width-open 2s 1.5s
                    cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                @keyframes width-open {
                    from {
                        width: 0px;
                    }
                    to {
                        width: 100%;
                    }
                }
            }
            span {
                padding: 0 1em;
                white-space: nowrap;
            }
        }

        .blog-options {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            column-gap: 1em;
            row-gap: 1.5em;

            width: 100%;

            margin: 3em 0;

            .option {
                display: flex;
                align-items: center;
                gap: 0.5em;

                .holder {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;
                }
            }
        }

        .blog-content {
            width: 100%;
            line-height: 1.8em;
        }
    }
}
