.blog-container {
    width: 100%;

    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10vh;

    overflow: hidden;

    .simurgh--blog-fnd {
        .simurgh--blog-thumbnail,
        > header,
        .simurgh--blog-options,
        .simurgh--blog-preview {
            width: clamp(0px, 100%, 1000px);
        }

        .simurgh--blog-thumbnail {
            max-width: unset;
            max-height: unset;

            width: clamp(0px, 100%, 1200px);
            height: 400px;
        }
    }

    .related-blogs {
        h3 {
            font-size: clamp(1.6rem, 2.9vw + 1.3rem, 2.8rem);
            margin-bottom: 0;
            margin-top: 2em;
        }
    }
}
