{% extends 'base.html' %}

{% block title %}

<title>{{ product.name }} | محصولات صنایع تولیدی حیدری</title>
<meta name="description"
    content="مشخصات و جزئیات محصول {{ product.name }} از صنایع تولیدی حیدری. محصولی با کیفیت و طراحی مدرن، مناسب برای انواع فضاها." />


<meta property="og:image" content="https://heydari-mi.com/record/pp-{{ product.id }}-{{ product.photos[0] }}">

{% endblock title %}

{% block header %}

<link href="/static/style/product/product.css" rel="stylesheet" />
<script src="/static/script/product.js" defer></script>

<link rel="canonical" href="https://heydari-mi.com/products/{{ product.slug }}">
<link rel="alternate" hreflang="fa" href="https://heydari-mi.com/products/{{ product.slug }}">

{% endblock header %}

{% block content %}

<main class="product">
    <section class="product-wrapper">
        <aside class="product-details">
            <h2 class="title_smaller category">

                <span>
                    {% if product.kind == "table" %}
                    میز
                    {% endif %}
                    {% if product.kind == "chair" %}
                    صندلی
                    {% endif %}
                </span>
                -
                {% if product.tag_leg in tags %}
                <span>
                    {{ tags[product.tag_leg].name }}
                </span>
                {% endif %}
                -
                {% if product.tag_bed in tags %}
                <span>
                    {{ tags[product.tag_bed].name }}
                </span>
                {% endif %}
            </h2>
            <h1 class="product-title title">
                {{ product.name }}
            </h1>
            <p class="product-desc title_smaller">
                {{ product.description }}
            </p>
            <a href="/contact" target="_blank" class="contact-us title_small">
                <span class="dot dot-1"></span>
                <span class="dot dot-2"></span>
                <span class="dot dot-3"></span>
                <span class="dot dot-4"></span>
                <span class="dot dot-5"></span>
                <span class="dot dot-6"></span>
                <span class="dot dot-7"></span>
                <div class="text">
                    تماس با ما
                </div>
            </a>
        </aside>
        <aside class="product-img">
            <div class="main-wrapper">
                <img src="/record/pp-{{ product.id }}-{{ product.photos[0] }}"
                    alt=" {{product.name}} با کیفیت بالا از صنایع تولیدی حیدری " class="main-img">
            </div>
            <div class="others">
                {% for p in product.photos %}
                <div class="other">
                    <img src="/record/pp-{{ product.id }}-{{ p }}"
                        alt=" {{p.name}} با کیفیت بالا از صنایع تولیدی حیدری " class="other-img">
                </div>
                {% endfor %}
            </div>
        </aside>
    </section>
    <!-- <section class="product-banner">
        <img src="/record/pt-{{ product.id }}-{{ product.thumbnail }}" class="banner-img" alt="بنر {{ product.name }}">
    </section> -->

    <section class="product-about">
        <div class="about-select">
            <button class="title_small about">توضیحات</button>
            <button class="title_small info">مشخصات فنی</button>
        </div>
        <div class="about-wrapper">
            <div class="about ">
                <p class="title_smaller">
                    {{ product.detail }}
                </p>
            </div>
            <div class="info title_smaller">
                <table>
                    <tbody>
                        {% for key, val in product.specification | items %}
                        <tr>
                            <th class="title_smaller"><strong>{{ key }}</strong></th>
                            <td class="description">{{ val }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="products-related">
        <h3 class="title_hero">
            محصولات مشابه
        </h3>
        <div class="related-wrapper title_small">
            {% for p in related %}
            <a class="related" href="/products/{{ p.slug }}">
                <div class="head title_smaller">
                    <div class="category">
                        {% if p.kind == "table" %}
                        میز
                        {% endif %}
                        {% if p.kind == "chair" %}
                        صندلی
                        {% endif %}
                    </div>
                    <div class="code">
                        {{ p.code }}
                    </div>
                </div>

                <img src="/record/pp-{{ p.id }}-{{ p.photos[0] }}" alt="{{ p.name }} صنایع تولیدی حیدری">

                <div class="product-title detail title_small">
                    {{ p.name }}
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock content %}