{% extends 'base.html' %}

{% block header %}

<link href="/static/style/product/product.css" rel="stylesheet" />

<script src="/static/script/product.js" defer></script>

{% endblock header %}

{% block content %}

<main class="product">
    <div id="circle" class="circle"></div>
    <section class="product-wrapper">
        <aside class="product-details">
            <h3 class="title_smaller category">
                اداری
            </h3>
            <h2 class="title">
                صندلی اریا کد 1201
            </h2>
            <p class="product-desc title_smaller">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و
                متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
            </p>
            <button class="contact-us title_small">
                <span class="dot dot-1"></span>
                <span class="dot dot-2"></span>
                <span class="dot dot-3"></span>
                <span class="dot dot-4"></span>
                <span class="dot dot-5"></span>
                <span class="dot dot-6"></span>
                <span class="dot dot-7"></span>
                <div class="text">
                    تماس با ما
                </div>
            </button>
        </aside>
        <aside class="product-img">
            <div class="main-wrapper">
                <img src="/static/image/products/1.webp" alt="" class="main-img">
            </div>
            <div class="others">
                <div class="other"> <img src="/static/image/products/1.webp" alt="" class="other-img"></div>
                <div class="other"> <img src="/static/image/products/2.webp" alt="" class="other-img"></div>
                <div class="other"> <img src="/static/image/products/3.webp" alt="" class="other-img"></div>
                <div class="other"> <img src="/static/image/products/4.webp" alt="" class="other-img"></div>
            </div>
        </aside>
    </section>
    <section class="product-banner">
        <img src="https://picsum.photos/1100/400" alt="">
    </section>
    <section class="products-related">
        <h4 class="title_hero">
            محصولات مشابه
        </h4>
        <div class="related-wrapper"></div>
    </section>
</main>

{% endblock content %}