{% extends 'base.html' %}

{% block header %}

<link href="/static/style/product/product.css" rel="stylesheet" />
<script src="/static/script/product.js" defer></script>

{% endblock header %}

{% block content %}

<main class="product">
    <section class="product-wrapper">
        <aside class="product-details">
            <h3 class="title_smaller category">

                <span>
                    {% if product.kind == "table" %}
                    میز
                    {% endif %}
                    {% if product.kind == "chair" %}
                    صندلی
                    {% endif %}
                </span>
                -
                {% if product.tag_leg in tags %}
                <span>
                    {{ tags[product.tag_leg].name }}
                </span>
                {% endif %}
                -
                {% if product.tag_bed in tags %}
                <span>
                    {{ tags[product.tag_bed].name }}
                </span>
                {% endif %}
            </h3>
            <h2 class="product-title title">
                {{ product.name }}
            </h2>
            <p class="product-desc title_smaller">
                {{ product.detail }}
            </p>
            <button class="contact-us title_small">
                <span class="dot dot-1"></span>
                <span class="dot dot-2"></span>
                <span class="dot dot-3"></span>
                <span class="dot dot-4"></span>
                <span class="dot dot-5"></span>
                <span class="dot dot-6"></span>
                <span class="dot dot-7"></span>
                <div class="text">
                    تماس با ما
                </div>
            </button>
        </aside>
        <aside class="product-img">
            <div class="main-wrapper">
                <img src="/record/pp-{{ product.id }}-{{ product.photos[0] }}" alt="" class="main-img">
            </div>
            <div class="others">
                {% for p in product.photos %}
                <div class="other">
                    <img src="/record/pp-{{ product.id }}-{{ p }}" alt="" class="other-img">
                </div>
                {% endfor %}
            </div>
        </aside>
    </section>
    <section class="product-banner">
        <img src="/record/pt-{{ product.id }}-{{ product.thumbnail }}" class="banner-img" alt="">
    </section>
    <section class="products-related">
        <h4 class="title_hero">
            محصولات مشابه
        </h4>
        <div class="related-wrapper title_small">
            {% for p in related %}
            <a class="related" href="/products/{{ p.id }}">
                <div class="head title_smaller">
                    <div class="category">
                        {% if p.kind == "table" %}
                        میز
                        {% endif %}
                        {% if p.kind == "chair" %}
                        صندلی
                        {% endif %}
                    </div>
                    <div class="code">
                        {{ p.code }}
                    </div>
                </div>

                <img src="/record/pp-{{ p.id }}-{{ p.photos[0] }}" alt="">

                <div class="product-title detail title_small">
                    {{ p.name }}
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock content %}