[Unit]
Description=heydari Gunicorn
After=syslog.target redis_heydari.service

[Service]
ExecStart=/heydari/.env/bin/gunicorn --config /heydari/config/gunicorn.py
RuntimeDirectory=heydari_gunicorn
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
