[Unit]
Description=heydari uWSGI
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini /site/heydari/config/uwsgi.ini
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target