[Unit]
Description=Heydari Backup

[Service]
Type=oneshot
ExecStart=/heydari/config/backup.sh
WorkingDirectory=/heydari/
EnvironmentFile=/heydari/.env
