[Unit]
Description=heydari backend
After=syslog.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/x/heydari/
EnvironmentFile=/x/heydari/.env
ExecStart=/x/heydari/target/release/heydari
KillSignal=SIGQUIT
StandardError=file:/x/heydari/stderr.log
NotifyAccess=all

[Install]
WantedBy=multi-user.target
