[Unit]
Description=heydari backend
After=syslog.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/heydari/
EnvironmentFile=/heydari/.env
ExecStart=/heydari/target/release/heydari
KillSignal=SIGQUIT
StandardError=file:/heydari/log
NotifyAccess=all

[Install]
WantedBy=multi-user.target
