main.login {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--sixty-percent);

    form.login-wrapper {
        width: clamp(0px, 100%, 500px);
        height: 600px;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        margin-top: -100px;

        background-color: white;

        position: relative;
        z-index: 1;

        .go-back {
            position: absolute;
            top: 0;
            left: 0;
            padding: 1.5rem;

            opacity: 0;
            pointer-events: none;

            transition: 0.2s opacity ease;
        }

        header {
            flex-shrink: 0;

            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 1rem;

            img {
                width: 100px;
                height: 100px;
                object-fit: contain;
            }

            p {
                margin-top: 0.2rem;
                opacity: 0.7;
            }
        }

        .sections {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;
            z-index: 1;

            overflow: hidden;

            section {
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                padding: 1rem 2rem;

                transition: transform 0.5s ease;
            }

            .code-section {
                position: absolute;
                inset: 0;

                transform: translateX(200%);

                .input-container {
                    margin-top: -60px;
                }
            }

            .phone-section {
                .input-container {
                    margin-top: -60px;
                }
            }

            .input-container {
                width: clamp(0px, 100%, 500px);

                display: flex;
                align-items: center;
                flex-direction: column;

                gap: 1rem;

                position: relative;
                z-index: 1;

                input {
                    width: 100%;
                    padding: 1em 0;

                    border: 0;
                    border-bottom: 1px solid rgb(0, 0, 0, 0.2);

                    text-align: right;

                    direction: ltr;

                    &::placeholder {
                        font-family: yekan;
                    }
                }
                .holder {
                    position: absolute;
                    right: -1rem;
                    top: -1rem;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;

                    background-color: white;

                    transform: translateY(65%) translateX(-0.5rem);

                    padding-inline: 0.5rem;

                    transform: translateY(-20%);
                    opacity: 1;
                    scale: 0.9;
                }

                .inp-error {
                    width: 100%;
                    display: flex;
                    gap: 0.5rem;
                    color: var(--alert-error);

                    pointer-events: none;

                    opacity: 0;

                    transition: 0.2s opacity ease;

                    &.active {
                        opacity: 1;
                    }

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        .cta-wrapper {
            flex-shrink: 0;

            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            padding: 1rem;

            button {
                width: 100%;
                background-color: #4f65ff;
                color: white;
                padding: 0.7rem;
                border-radius: 0.5rem;

                transition: 0.2s ease;

                &:active {
                    scale: 0.97;
                }
            }
        }

        &.active {
            .go-back {
                pointer-events: all;
                opacity: 1;
            }

            .sections {
                .code-section {
                    transform: translateX(0%);
                }
                .phone-section {
                    transform: translateX(-200%);
                }
            }
        }
    }
}
