$SECTION_TITLE2_FONTSIZE: 33px;
$SECTION_TITLE_FONTSIZE: 30px;
$HERO_TITLE_FONTSIZE: 27px;
$HERO2_TITLE_FONTSIZE: 21px;
$TITLE_FONTSIZE: 18px;
$TITLE_FONTSIZE_SMALL: 16px;
$TITLE_FONTSIZE_SMALLER: 14px;

$DESCRIPTION_FONT_SIZE: 12px;
$DESCRIPTION_FONT_SIZE_SMALL: 11px;
