<!doctype html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QSYXB03JXX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QSYXB03JXX');
    </script>

    {% block title %} {% endblock title %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords"
        content="صنایع تولیدی, صندلی آموزشی, صندلی اداری, تولید صندلی, Heydari, furniture manufacturing">
    <meta name="author" content="Heydari Manufacturing Industries">
    <meta name="robots" content="index, follow">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#f4a000" />

    <meta property="og:title" content="صنایع تولیدی حیدری">
    <meta property="og:description"
        content="صنایع تولیدی حیدری با 40 سال تجربه در تولید صندلی‌های آموزشی و اداری با کیفیت برتر.">
    <meta property="og:image" content="https://heydari-mi.com/static/image/logo.png">
    <meta property="og:url" content="https://heydari-mi.com/">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="fa_IR">
    <meta property="og:site_name" content="صنایع تولیدی حیدری">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="صنایع تولیدی حیدری - تولید انواع صندلی‌های آموزشی و اداری">
    <meta name="twitter:description"
        content="صنایع تولیدی حیدری با 40 سال تجربه در تولید صندلی‌های آموزشی و اداری با کیفیت برتر.">
    <meta name="twitter:image" content="https://heydari-mi.com/static/image/logo.png">


    <link rel="icon" href="/static/icon/favicon.ico" type="image/x-icon" />

    <link href="/static/fonts/fonts.css" rel="stylesheet" />

    <link href="/static/style/config/index.css" rel="stylesheet" />

    <link href="/static/style/base.css" rel="stylesheet" />

    <link href="/static/style/layout/nav.css" rel="stylesheet" />
    <link href="/static/style/layout/footer.css" rel="stylesheet" />

    <script src="/static/script/base.js" defer></script>


    {% block header %} {% endblock header %}
</head>

<body>
    <div id="root" class="root">
        {% include "layout/nav.html" %} {% block content %} {% endblock
        content %} {% include "layout/footer.html" %}
    </div>
</body>

</html>