.nav-container {
    width: 100%;
    height: 100px;

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 9;
    overflow: hidden;

    transition: 0.2s ease;
    transition-property: box-shadow, background-color;

    &.big {
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }

    &.scrolled.big {
        background-color: white;
        box-shadow: 0px 25px 50px -30px rgb(0 0 0 / 30%);
    }

    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 1.5em;

        width: 100%;
        height: 100%;

        @media screen and (max-width: 1024px) {
            padding: 0 1em;
        }

        .left-side {
            display: flex;
            align-items: center;
            gap: 1rem;

            padding-left: 1rem;

            .nav-logo-container {
                fill: var(--sixty-percent);
                width: 60px;
                aspect-ratio: 1/1;
                object-fit: contain;

                padding: 0.5rem;
                background: white;
                border-radius: 10px;

                display: flex;
                align-items: center;
                justify-content: center;

                @keyframes nav-unactive {
                    from {
                        left: 50%;
                        top: 100%;
                        transform: translate(-50%);
                    }
                    to {
                        top: 5px;
                        left: 10px;
                        transform: translate(5%, 5%);
                    }
                }

                @media screen and (max-width: 768px) {
                    position: absolute;
                    top: 5px;
                    left: 10px;
                    transform: translate(5%, 5%);

                    &.clicked {
                        animation: 0.8s nav-unactive
                            cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;
                    }
                }

                svg {
                    width: 100%;
                    height: 100%;

                    margin: 5px;
                }
            }
            .go-to-acc {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                svg {
                    width: 30px;
                    height: 30px;
                    fill: var(--sixty-percent);
                }
            }
            .go-to-cart {
                position: relative;
                z-index: 1;

                &:hover {
                    svg {
                        transform: scale(1.1);
                    }
                }

                svg {
                    transition: 0.2s transform ease;
                }

                .cart-counter {
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    transform: translate(50%, 50%);

                    width: 20px;
                    height: 20px;
                    scale: 0.9;
                    color: white;
                    background-color: var(--sixty-percent);
                    border-radius: 100vmax;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    overflow: hidden;
                }
            }
        }

        .nav-content {
            display: flex;
            align-items: center;

            .nav-link {
                display: flex;
                align-items: center;
                gap: calc(1vw + 2.5px);

                padding: 1em 2em;

                svg {
                    transition: transform 0.3s ease-in-out;
                }

                &:hover {
                    svg {
                        transform: translateY(-25%);
                    }
                }

                @media screen and (max-width: 1200px) {
                    padding: 1em 1.2em;
                }
            }
        }
    }

    .small-open,
    .small-close {
        display: none;
    }

    &.small {
        overflow: unset;

        .just-for-small {
            background-color: rgb(255, 255, 255);

            display: flex;
            justify-content: center;
            position: absolute;
            inset: 0;
            height: 100vh;
            transform: translateX(100%);
        }

        .small-open {
            display: unset;
            scale: -1;
        }

        .small-close {
            position: absolute;
            top: 5%;
            right: 5%;
        }

        .nav-content {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        &.opensmall {
            .small-close {
                display: unset;
            }

            .just-for-small {
                transform: translateX(0);
            }

            .nav-logo-container {
                animation: 0.8s nav-active cubic-bezier(0.45, 0.02, 0.09, 0.98)
                    forwards;

                @keyframes nav-active {
                    to {
                        position: absolute;
                        left: 50%;
                        top: 100%;
                        transform-origin: center;
                        transform: translate(-50%);
                    }
                }
            }
        }
    }
}
