.products-page-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    align-items: center;

    padding: 5vh 0;
    padding-top: 0;

    .products-header {
        display: grid;
        place-items: center;
        color: var(--primary-color);

        width: 100%;
        aspect-ratio: 1/0.16;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: left 40%;

        @media screen and (max-width: 768px) {
            aspect-ratio: 1/0.3;
        }

        .header-title {
            color: white;
        }
    }

    .searchbar-container {
        width: clamp(0px, 100%, 1000px);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;

        padding: 0 1em;

        margin-bottom: -3vh;

        z-index: 2;

        .input-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: clamp(0px, 100%, 1000px);
            border-radius: 100vmax;

            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            overflow: hidden;

            .search-inp {
                flex: 1 0 0;
                height: 100%;

                padding: 1em;

                color: black;

                border: none;
                background-color: inherit;
            }
            .icon {
                height: 70px;
                aspect-ratio: 1 / 1;

                color: black;

                margin: 7px;

                border-radius: 100vmax;
                background-color: var(--sixty-percent);

                cursor: pointer;

                @media screen and (max-width: 768px) {
                    height: 40px;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }

                &:hover {
                    svg {
                        transform: translateY(-10%) translateX(-10%);
                        animation: shake 1s ease infinite;
                    }
                }

                svg {
                    transition: 0.3s ease;
                    @keyframes shake {
                        0% {
                            rotate: 0;
                        }
                        20% {
                            rotate: 8deg;
                        }
                        40% {
                            rotate: -8deg;
                        }
                        60% {
                            rotate: 5deg;
                        }
                        80% {
                            rotate: -5deg;
                        }
                        100% {
                            rotate: 0deg;
                        }
                    }
                }
            }
        }
        .categories {
            width: 100%;

            display: flex;
            align-items: center;
            gap: 1em;

            margin-top: 1em;
            margin-right: 0.5em;
            margin-left: auto;

            @media screen and (max-width: 768px) {
                margin: 0 auto;
                margin-top: 2em;
                flex-direction: column;
            }

            .dropdown {
                width: clamp(0px, 100%, 200px);

                position: relative;
                isolation: isolate;

                cursor: pointer;

                &.show {
                    .drop-links {
                        transform: translateY(0%);
                        visibility: visible;
                        opacity: 1;

                        .drop-link {
                            transform: translateX(0);
                        }
                    }
                }

                .drop-active {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1em;

                    min-width: 10em;

                    padding: 0.8em 1em;
                    background: var(--ten-percent);
                    border-radius: 1rem;
                    color: white;

                    span {
                        margin: 0 auto;
                    }
                }
                .drop-links {
                    position: absolute;
                    top: 70px;

                    width: 100%;
                    right: 0;

                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    background-color: white;

                    border-radius: 10px;
                    filter: drop-shadow(2px 4px 6px var(--sixty-percent));

                    visibility: hidden;
                    opacity: 0;

                    transform: translateY(-25%);
                    transition: 0.5s ease;
                    overflow: hidden;

                    &::before {
                        content: '';
                        width: 100%;
                        height: 3.5em;

                        position: absolute;
                        top: var(--top, 0);

                        background-color: var(--ten-percent);

                        will-change: top;
                        transition: 0.3s ease;
                    }

                    .drop-link {
                        width: 100%;
                        height: 3.5em;

                        display: flex;
                        align-items: center;

                        gap: 1em;
                        padding: 1em;

                        position: relative;
                        isolation: isolate;
                        overflow: hidden;

                        transform: translateX(200%);

                        transition: 0.3s ease,
                            transform 0.3s cubic-bezier(0.45, 0.02, 0.09, 0.98),
                            color 0.3s;

                        @for $i from 1 through 50 {
                            &:nth-child(#{$i}) {
                                transition: 0.3s ease,
                                    transform
                                        #{$i *
                                        200ms}
                                        cubic-bezier(0.45, 0.02, 0.09, 0.98),
                                    color 0.3s;
                            }
                        }

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .products-wrapper {
        width: 100%;

        padding: 5vh 3vw;

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: calc(5vh + 10px);
        column-gap: calc(3vw + 5px);

        .product-card {
            width: clamp(0px, 100%, 400px);
            aspect-ratio: 0.8/1;

            display: flex;
            flex-direction: column;

            border-radius: 10px;
            box-shadow: 0px 5px 20px -10px black;

            overflow: hidden;
            transition: transform 0.3s ease-in-out;

            position: relative;
            isolation: isolate;

            &:hover {
                transform: translateY(-1rem);
            }

            img.card-img {
                height: 85%;
                max-width: 100%;

                flex: 1;

                object-fit: cover;
            }
            figcaption.card-caption {
                width: 100%;
                background-color: var(--sixty-percent);
                height: 15%;

                display: flex;
                align-items: center;
                justify-content: center;

                font-family: 'yekanBold';
                text-align: center;
            }
            .coming-soon {
                position: absolute;
                width: 100%;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                direction: ltr;

                background-color: rgba(255, 255, 255, 0.2);

                z-index: 1;

                backdrop-filter: blur(1px);
            }
        }
    }
}
