.products-page-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5vh 0;
    padding-top: 0;

    overflow: hidden;

    .products-header {
        display: grid;
        place-items: center;
        color: var(--primary-color);

        width: 100%;
        aspect-ratio: 1/0.16;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: left 40%;

        @media screen and (max-width: 768px) {
            aspect-ratio: 1/0.45;
        }

        .header-title {
            color: white;
        }
    }

    .searchbar-container {
        width: clamp(0px, 100%, 1000px);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;

        padding: 0 1em;

        margin: 4em 0 2em 0;

        z-index: 2;

        .input-wrapper {
            height: 70px;
            width: 70px;
            // width: clamp(0px, 100%, 1000px);

            display: flex;
            align-items: center;
            justify-content: space-between;

            border-radius: 100vmax;

            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            position: relative;
            isolation: isolate;

            animation: width 1.5s 2s cubic-bezier(0.45, 0.02, 0.09, 0.98)
                forwards;

            @keyframes width {
                from {
                    width: 70px;
                }
                to {
                    width: clamp(0px, 100%, 1000px);
                }
            }
            @media screen and (max-width: 768px) {
                height: 50px;
                width: 50px;

                @keyframes width {
                    from {
                        width: 50px;
                    }
                    to {
                        width: clamp(0px, 100%, 1000px);
                    }
                }
            }

            .search-inp {
                flex: 1 0 0;
                height: 100%;

                padding: 1em;

                color: black;

                border: none;
                background-color: inherit;

                opacity: 0;
                border-radius: inherit;

                animation: opacity 0.5s 2.5s
                    cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                @keyframes opacity {
                    to {
                        opacity: 1;
                    }
                }
            }
            .icon {
                $margin: 5px;

                position: absolute;
                top: 0;
                left: 0;

                height: calc(100% - $margin * 2);
                margin: $margin;

                aspect-ratio: 1 / 1;

                color: black;

                border-radius: 100vmax;
                background-color: var(--sixty-percent);

                cursor: pointer;

                animation: bounce 2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
                    forwards;

                @keyframes bounce {
                    0% {
                        transform: scaleX(1);
                    }
                    20% {
                        transform: scaleX(1.3);
                    }
                    25% {
                        transform: scaleX(1);
                    }

                    60% {
                        transform: translateY(-150%) scaleX(1);
                    }

                    100% {
                        transform: translateY(0%) scaleX(1);
                    }
                }

                @media screen and (max-width: 768px) {
                    // height: 40px;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }

                &:hover {
                    svg {
                        transform: translateY(-10%) translateX(-10%);
                        animation: shake 1s ease infinite;
                    }
                }

                svg {
                    transition: 0.3s ease;
                    @keyframes shake {
                        0% {
                            rotate: 0;
                        }
                        20% {
                            rotate: 8deg;
                        }
                        40% {
                            rotate: -8deg;
                        }
                        60% {
                            rotate: 5deg;
                        }
                        80% {
                            rotate: -5deg;
                        }
                        100% {
                            rotate: 0deg;
                        }
                    }
                }
            }
        }
        .filters {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            row-gap: 2rem;
            column-gap: 1rem;

            flex-wrap: wrap;

            margin-top: 1em;

            z-index: 2;

            .categories {
                display: flex;
                align-items: center;
                gap: 1em;

                margin-right: 0.5em;

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    width: 100%;
                }

                .dropdown {
                    width: clamp(0px, 100%, 200px);

                    position: relative;
                    isolation: isolate;

                    cursor: pointer;

                    &.show {
                        .drop-links {
                            transform: translateY(0%);
                            visibility: visible;
                            opacity: 1;

                            .drop-filter {
                                transform: translateX(0);
                            }
                        }
                    }

                    .drop-active {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 1em;

                        min-width: 10em;

                        padding: 0.8em 1em;
                        background: var(--ten-percent);
                        border-radius: 1rem;
                        color: white;

                        span {
                            margin: 0 auto;
                        }
                    }
                    .drop-links {
                        position: absolute;
                        top: 70px;

                        width: 100%;
                        right: 0;

                        display: flex;
                        align-items: center;
                        flex-direction: column;

                        background-color: white;

                        border-radius: 10px;
                        filter: drop-shadow(2px 4px 6px var(--sixty-percent));

                        visibility: hidden;
                        opacity: 0;

                        transform: translateY(-25%);
                        transition: 0.5s ease;
                        overflow: hidden;

                        &::before {
                            content: '';
                            width: 100%;
                            height: 3.5em;

                            position: absolute;
                            top: var(--top, 0);

                            background-color: var(--ten-percent);

                            will-change: top;
                            transition: 0.3s ease;
                        }

                        .drop-filter {
                            width: 100%;
                            height: 3.5em;

                            display: flex;
                            align-items: center;

                            gap: 1em;
                            padding: 1em;

                            position: relative;
                            isolation: isolate;
                            overflow: hidden;

                            transform: translateX(200%);

                            transition: 0.3s ease,
                                transform 0.3s
                                    cubic-bezier(0.45, 0.02, 0.09, 0.98),
                                color 0.3s;

                            @for $i from 1 through 50 {
                                &:nth-child(#{$i}) {
                                    transition: 0.3s ease,
                                        transform
                                            #{$i *
                                            200ms}
                                            cubic-bezier(
                                                0.45,
                                                0.02,
                                                0.09,
                                                0.98
                                            ),
                                        color 0.3s;
                                }
                            }

                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        .order {
            width: 100%;

            margin-top: 1em;

            display: flex;
            align-items: center;
            gap: 1em;

            margin-right: 0.5em;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            .dropdown {
                width: clamp(0px, 100%, 200px);

                position: relative;
                isolation: isolate;

                cursor: pointer;

                &.show {
                    .drop-links {
                        transform: translateY(0%);
                        visibility: visible;
                        opacity: 1;

                        .drop-order {
                            transform: translateX(0);
                        }
                    }
                }

                .drop-active {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1em;

                    min-width: 10em;

                    padding: 0.8em 1em;
                    background: var(--sixty-percent);
                    border-radius: 1rem;
                    color: white;

                    span {
                        margin: 0 auto;
                    }
                }
                .drop-links {
                    position: absolute;
                    top: 70px;

                    width: 100%;
                    right: 0;

                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    background-color: white;

                    border-radius: 10px;
                    filter: drop-shadow(2px 4px 6px var(--sixty-percent));

                    visibility: hidden;
                    opacity: 0;

                    transform: translateY(-25%);
                    transition: 0.5s ease;
                    overflow: hidden;

                    &::before {
                        content: '';
                        width: 100%;
                        height: 3.5em;

                        position: absolute;
                        top: var(--top, 0);

                        background-color: var(--sixty-percent);

                        will-change: top;
                        transition: 0.3s ease;
                    }

                    .drop-order {
                        width: 100%;
                        height: 3.5em;

                        display: flex;
                        align-items: center;

                        gap: 1em;
                        padding: 1em;

                        position: relative;
                        isolation: isolate;
                        overflow: hidden;

                        transform: translateX(200%);

                        transition: 0.3s ease,
                            transform 0.3s cubic-bezier(0.45, 0.02, 0.09, 0.98),
                            color 0.3s;

                        @for $i from 1 through 50 {
                            &:nth-child(#{$i}) {
                                transition: 0.3s ease,
                                    transform
                                        #{$i *
                                        200ms}
                                        cubic-bezier(0.45, 0.02, 0.09, 0.98),
                                    color 0.3s;
                            }
                        }

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .products-wrapper {
        width: 100%;

        padding: 5vh 3vw;

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: calc(5vh + 10px);
        column-gap: calc(3vw + 5px);

        .product-card {
            width: clamp(0px, 100%, 400px);
            aspect-ratio: 0.8/1;

            display: flex;
            flex-direction: column;

            border-radius: 10px;
            box-shadow: 0px 5px 20px -10px black;

            overflow: hidden;

            transition-property: transform, opacity, display;
            transition-duration: 0.3s;
            transition-behavior: allow-discrete;

            // transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;

            position: relative;
            isolation: isolate;

            &.hide {
                display: none;
                opacity: 0;

                @starting-style {
                    opacity: 0;
                }
            }

            &:hover {
                transform: translateY(-1rem);
            }

            .head {
                position: absolute;
                top: 0;

                display: flex;
                align-items: center;
                justify-content: space-between;

                width: 100%;

                .product-category,
                .product-code {
                    padding: 0.5em;
                    background-color: var(--ten-percent);
                    color: white;
                }
                .product-category {
                    border-bottom-left-radius: 0.5rem;
                }
                .product-code {
                    border-bottom-left-radius: 0.5rem;
                }
            }

            img.card-img {
                height: 85%;
                max-width: 100%;

                flex: 1;

                object-fit: cover;
            }
            figcaption.card-caption {
                position: absolute;
                bottom: 0;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1em;

                width: 100%;

                background: linear-gradient(
                    0deg,
                    var(--sixty-percent),
                    transparent
                );
                backdrop-filter: blur(1px);

                padding: 2em 2em 1em 2em;

                .product-tags {
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1em;

                    flex-wrap: wrap;

                    .tag {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        color: unset;

                        width: 60px;

                        padding: 0.5em 1em;
                        border-radius: 100vmax;
                        background-color: white;
                        color: black;

                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    }
                }
            }
            .coming-soon {
                position: absolute;
                width: 100%;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                direction: ltr;

                background-color: rgba(255, 255, 255, 0.2);

                z-index: 1;

                backdrop-filter: blur(1px);
            }
        }
    }
}
