main.account {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: white;

    .account-loading {
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        position: fixed;
        inset: 0;

        img {
            width: 200px;
            height: 200px;

            object-fit: contain;

            animation: loading-img 1s alternate linear infinite;

            @keyframes loading-img {
                from {
                    opacity: 1;
                }
                to {
                    opacity: 0;
                }
            }
        }
    }

    aside.sidebar-container {
        min-height: 100vh;
        height: 100%;

        width: 17%;
        min-width: 270px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 5vh;

        padding: 2.5rem 0;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        .avatar-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding: 0 1.5rem 1.5rem 1.5rem;

            width: 100%;

            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                height: 1px;
                width: 80%;

                background-color: var(--other-color);
            }

            .username {
                width: 100%;
            }
        }

        .sidebar-options {
            width: 100%;
            height: 100%;
            flex: 1;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            gap: 0.5vh;

            .option-wrapper {
                width: 100%;

                cursor: pointer;
                position: relative;

                display: flex;
                flex-direction: column;
                align-items: center;

                padding: 0 1.2em;

                color: unset;
                text-decoration: none;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    height: 1px;
                    width: 60%;

                    background-color: var(--other-color);
                }

                .option {
                    width: 100%;

                    padding: 1.5em 0;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 0.7vw;

                    @media screen and (max-width: 768px) {
                        width: 50%;
                    }

                    .grid {
                        display: grid;
                        place-items: center;
                    }

                    .option-icon {
                        color: #ff6700;
                        fill: #ff6700;

                        path {
                            stroke: #ff6700;
                        }
                    }

                    transition: transform 200ms ease-out;
                }
                &:hover .option {
                    transform: translateX(-0.7vw);
                }

                @media screen and (max-width: 768px) {
                    &:hover .option {
                        transform: translateX(-3vw);
                    }
                }
            }
        }

        .logout-wrapper {
            width: 100%;

            .logout {
                background-color: transparent;
                border: 0;
                cursor: pointer;
                text-decoration: none;
                color: unset;

                width: 100%;
                display: flex;
                gap: 0.7vw;
                align-items: center;
                justify-content: center;

                .logout-icon {
                    display: grid;
                    place-items: center;
                }

                transition: all 200ms ease-out;
            }
            &:hover .logout {
                color: red;
                transform: translateY(-0.5vh);
            }
            @media screen and (max-width: 768px) {
                &:hover .option {
                    transform: translateY(-1.5vh);
                }
            }
        }
    }
}
