main.account {
    width: 100%;

    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: white;

    padding: 1rem;

    .account-loading {
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        background-color: inherit;

        position: fixed;
        inset: 0;

        z-index: 5;

        transition: opacity 0.3s ease;

        &.hide {
            opacity: 0;
            pointer-events: none;

            img {
                animation: none;
            }
        }

        img {
            width: 200px;
            height: 200px;

            object-fit: contain;

            animation: loading-img 1s alternate linear infinite;

            @keyframes loading-img {
                from {
                    opacity: 1;
                }
                to {
                    opacity: 0;
                }
            }
        }
    }

    .account-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        padding-top: 4rem;

        .acc-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            padding: 5px;
            background-color: var(--sixty-percent);
            border-radius: 100vmax;

            .acc-nav-link {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                background-color: transparent;

                color: #000;
                white-space: nowrap;

                padding: 1rem 2rem;
                border-radius: inherit;
                font: inherit;

                &.active {
                    background-color: white;
                }

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .account-outlet {
            display: flex;
            align-items: center;
            flex-direction: column;

            width: clamp(0px, 100%, 1500px);
            // min-height: 70vh;
            border-radius: 2rem;
            // background-color: var(--accent-color);

            .profile-container {
                padding: 3rem;

                width: clamp(0px, 100%, 700px);
                height: max(400px, 55vh);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;

                .user-infos {
                    width: 100%;

                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: space-around;

                    .user-info {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1rem;

                        .holder {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            opacity: 0.7;
                        }
                    }
                }

                .inps-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1.5rem;
                    width: 100%;

                    margin-top: 1rem;

                    .hover-inp {
                        width: clamp(0px, 100%, 450px);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        border: 1px solid #ddd;
                        border-radius: 2rem;
                        box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 24px;
                        // background-color: white;

                        position: relative;
                        z-index: 1;

                        // direction: ltr;

                        &.disabled {
                            opacity: 0.7;
                            cursor: not-allowed;

                            input {
                                pointer-events: none;
                            }
                        }

                        .holder {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            pointer-events: none;
                            background-color: white;

                            opacity: 0.7;

                            transition: 0.2s ease;

                            position: absolute;
                            inset: 0;
                            right: 1rem;

                            z-index: 3;

                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        input {
                            border-radius: inherit;
                            background-color: transparent;
                            border: none;
                            flex: 1 0 0;
                            padding: 1em;

                            text-align: right;

                            direction: ltr;
                        }
                        .holder {
                            right: 0;

                            transform: translateY(75%) translateX(-0.5rem);

                            padding-inline: 0.5rem;
                            // padding-block: 0px;

                            height: fit-content;
                            width: fit-content;
                            border-radius: 100vmax;
                        }
                        &:focus-within,
                        &.active {
                            .holder {
                                transform: translateY(-65%) translateX(-0.5rem);
                                opacity: 1;
                                scale: 0.9;
                            }
                        }

                        input {
                            width: 100%;
                        }
                    }
                    .text-inp {
                        width: clamp(0px, 100%, 450px);
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        margin-bottom: 0.5rem;
                        position: relative;
                        z-index: 1;

                        .holder {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            padding-right: 0.7rem;

                            transform-origin: right;
                            opacity: 0.7;
                        }

                        textarea {
                            min-height: 200px;
                            width: 100%;
                            border-radius: 1rem;
                            border: 1px solid #ddd;
                            resize: none;

                            width: 100%;
                            padding: 1rem;
                            border-radius: 1rem;
                            border: 1px solid #c5c5c5;
                            resize: none;
                            line-height: 1.8em;

                            &::placeholder {
                                font-family: iranLight;
                                font-weight: lighter;
                            }
                        }
                    }
                }

                .form-ctas {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 1rem;

                    width: 100%;

                    .submit {
                        width: clamp(0px, 100%, 300px);
                        background-color: var(--sixty-percent);
                        color: white;

                        padding: 0.7rem;

                        border-radius: 1rem;
                    }
                    .logout {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        color: var(--alert-error);
                    }
                }
            }

            .orders-container {
                width: 100%;
                min-height: 500px;

                display: flex;
                flex-direction: column;
                align-items: center;

                padding: 2rem;

                h1 {
                    margin-bottom: 0.5rem;
                }

                .orders-wrapper {
                    margin-top: 1rem;

                    min-height: 400px;

                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    row-gap: 4rem;
                    column-gap: calc(3rem + 1vw);

                    padding: 1rem;

                    .product-container {
                        color: unset;

                        width: clamp(0px, 100%, 300px);

                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        position: relative;
                        z-index: 1;

                        &:focus-within {
                            outline: none;
                        }

                        .best {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 1rem;

                            svg {
                                color: gold;
                                filter: drop-shadow(0px 0px 5px gold);
                            }
                        }

                        .img-container {
                            height: 390px;
                            width: 100%;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            border-radius: 1rem;

                            background-color: white;

                            overflow: hidden;

                            position: relative;
                            z-index: 1;

                            &:hover {
                                .status-container {
                                    transform: scale(1.03);
                                }
                            }
                            .status-container {
                                position: absolute;
                                z-index: 2;
                                bottom: 0.75rem;
                                right: 0.75rem;

                                background-color: white;

                                border-radius: 100vmax;

                                padding: 0.5em 1em;

                                transition: 0.2s transform ease;

                                &.success {
                                    box-shadow: rgba(11, 231, 44, 0.5) 0px 1px
                                        15px;
                                    outline: 1px solid var(--alert-success);
                                }
                                &.error {
                                    box-shadow: rgba(231, 40, 11, 0.5) 0px 1px
                                        15px;
                                    outline: 1px solid var(--alert-error);
                                }
                                &.waiting {
                                    box-shadow: rgba(231, 121, 11, 0.5) 0px 1px
                                        15px;
                                    outline: 1px solid rgba(231, 121, 11);
                                }
                            }

                            img {
                                width: 100%;
                                height: 100%;

                                object-fit: contain;
                            }

                            .no-photo {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                gap: 1rem;

                                &:hover {
                                    svg {
                                        transform: scale(1.1);
                                    }
                                }

                                svg {
                                    width: 40px;
                                    height: 40px;

                                    color: var(--alert-error);

                                    transition: 0.3s ease;
                                }

                                span {
                                    text-align: center;
                                    opacity: 0.6;
                                }
                            }
                        }

                        .info-container {
                            width: 100%;

                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;

                            .info-head {
                                width: 100%;
                            }

                            .infos-bottom {
                                display: flex;
                                align-items: center;
                                gap: 0.7rem;

                                opacity: 0.7;

                                .info-bottom {
                                    display: flex;
                                    align-items: center;
                                    gap: 0.5rem;

                                    .holder {
                                        display: flex;
                                        align-items: center;
                                        gap: 0.5rem;

                                        svg {
                                            width: 20px;
                                            height: 20px;
                                        }
                                    }
                                }
                            }
                            .info-total {
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;

                                .data {
                                    display: flex;
                                    align-items: center;
                                    gap: 0.2rem;

                                    .toman {
                                        scale: 0.8;
                                        transform-origin: bottom;
                                        opacity: 0.7;
                                    }
                                }
                            }

                            .info-tags {
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;

                                margin-bottom: 0.5rem;

                                opacity: 0.7;

                                width: 100%;
                            }
                        }
                    }
                }

                .empty-container {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 1rem;

                    height: fit-content;
                    margin: auto;

                    width: clamp(0px, 100%, 500px);

                    background: inherit;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    border-radius: 2rem;
                    padding: 4rem 1rem;

                    svg {
                        width: 40px;
                        height: 40px;

                        animation: cart-empty-anim alternate 2s ease-in-out
                            infinite;

                        @keyframes cart-empty-anim {
                            from {
                                transform: translateX(250%);
                            }
                            to {
                                transform: translateX(-250%);
                            }
                        }
                    }

                    .head,
                    svg {
                        opacity: 0.7;
                    }

                    a {
                        color: var(--ten-percent);
                        font-weight: bold;
                    }
                }

                .pagination {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    gap: 1rem;
                    width: clamp(0px, 100%, 70vw);

                    .pagination-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;

                        a {
                            display: grid;
                            place-content: center;
                            width: 30px;
                            height: 30px;
                            padding: 1em;
                            border-radius: 100vmax;
                        }

                        a.active {
                            background-color: var(--sixty-percent);
                            color: white;
                            // padding: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}
