main.account {
    width: 100%;

    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: white;

    padding: 1rem;

    .account-loading {
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        background-color: inherit;

        position: fixed;
        inset: 0;

        z-index: 5;

        transition: opacity 0.3s ease;

        &.hide {
            opacity: 0;
            pointer-events: none;

            img {
                animation: none;
            }
        }

        img {
            width: 200px;
            height: 200px;

            object-fit: contain;

            animation: loading-img 1s alternate linear infinite;

            @keyframes loading-img {
                from {
                    opacity: 1;
                }
                to {
                    opacity: 0;
                }
            }
        }
    }

    .account-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        padding-top: 4rem;

        .acc-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            padding: 5px;
            background-color: var(--sixty-percent);
            border-radius: 100vmax;

            .acc-nav-link {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                background-color: transparent;

                color: #000;
                white-space: nowrap;

                padding: 1rem 2rem;
                border-radius: inherit;
                font: inherit;

                &.active {
                    background-color: white;
                }

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .account-outlet {
            display: flex;
            align-items: center;
            flex-direction: column;

            width: clamp(0px, 100%, 1500px);
            // min-height: 70vh;
            border-radius: 2rem;
            background-color: var(--accent-color);

            .profile-container {
                padding: 3rem;

                width: clamp(0px, 100%, 700px);
                height: max(400px, 55vh);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;

                .user-infos {
                    width: 100%;

                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: space-around;

                    .user-info {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1rem;

                        .holder {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            opacity: 0.7;
                        }
                    }
                }

                .name-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    .hover-inp {
                        width: clamp(0px, 100%, 450px);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        margin-bottom: 0.5rem;

                        border: 1px solid #ddd;
                        border-radius: 2rem;
                        background-color: white;

                        position: relative;
                        z-index: 1;

                        // direction: ltr;

                        &.disabled {
                            opacity: 0.7;
                            cursor: not-allowed;

                            input {
                                pointer-events: none;
                            }
                        }

                        .holder {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            pointer-events: none;

                            opacity: 0.7;

                            transition: 0.2s ease;

                            position: absolute;
                            inset: 0;
                            right: 1rem;

                            z-index: 3;

                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }

                        input {
                            border-radius: inherit;
                            background-color: transparent;
                            border: none;
                            flex: 1 0 0;
                            padding: 1em;

                            text-align: right;

                            direction: ltr;
                        }

                        &.active {
                            .holder {
                                opacity: 0;
                            }
                        }

                        &:focus-within .holder {
                            opacity: 0;
                        }

                        input {
                            width: 100%;
                        }
                    }

                    .error-container {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        color: var(--alert-error);
                        margin-top: 1rem;
                        opacity: 0;

                        transition: 0.2s opacity ease;

                        &.show {
                            opacity: 1;
                        }
                    }
                }

                .form-ctas {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 1rem;

                    width: 100%;

                    .submit {
                        width: clamp(0px, 100%, 300px);
                        background-color: var(--sixty-percent);
                        color: white;

                        padding: 0.7rem;

                        border-radius: 1rem;
                    }
                    .logout {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;

                        color: var(--alert-error);
                    }
                }
            }
        }
    }
}
