main.account {
    width: 100%;

    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: white;

    .account-loading {
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        background-color: inherit;

        position: fixed;
        inset: 0;

        z-index: 5;

        img {
            width: 200px;
            height: 200px;

            object-fit: contain;

            animation: loading-img 1s alternate linear infinite;

            @keyframes loading-img {
                from {
                    opacity: 1;
                }
                to {
                    opacity: 0;
                }
            }
        }
    }

    .account-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        padding-top: 4rem;

        .acc-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            padding: 5px;
            background-color: var(--sixty-percent);
            border-radius: 100vmax;

            .acc-nav-link {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                background-color: transparent;

                color: #000;
                white-space: nowrap;

                padding: 1rem 2rem;
                border-radius: inherit;
                font: inherit;

                &.active {
                    background-color: white;
                }

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .account-outlet {
            width: clamp(0px, 100%, 1500px);
            min-height: 70vh;
            border-radius: 2rem;
            background-color: var(--accent-color);
        }
    }
}
