.product-container {
    width: 100%;

    // debug
    height: 100vh;

    display: grid;
    place-items: center;

    background-color: white;

    .product-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        width: clamp(0px, 100%, 1500px);

        .product-imgs {
            width: clamp(0px, 500px, 60%);
            aspect-ratio: 1/1;

            background-color: black;
        }

        .product-detials {
            width: 50%;

            // debug
            height: 500px;

            background-color: red;
        }
    }
}
