.login-fnd {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    direction: rtl;

    padding: 1rem;

    button {
        color: unset;
    }

    @media screen and (max-width: 768px) {
        height: 100dvh;
    }

    .login-form {
        width: clamp(0px, 100%, 470px);
        aspect-ratio: 1 / 1.2;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        background-color: var(--primary-color);

        border-radius: 1rem;
        border: 1px solid #8efaff;
        padding: 1rem;

        position: relative;
        isolation: isolate;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            aspect-ratio: 1 / 1.5;
        }

        .loading-form {
            position: absolute;
            inset: 0;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            gap: 3rem;

            width: 100%;
            height: 100%;

            backdrop-filter: blur(5px);

            z-index: 10;

            .loading-dots-cmp {
                margin-top: -5rem;
            }
        }

        .go-back {
            position: absolute;
            top: 1rem;
            left: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            padding: 1rem;

            transform: translateX(-200%);

            will-change: transform;
            transition: 0.3s ease;

            &.active {
                transform: translateX(0);
            }

            svg {
                width: 25px;
                height: 25px;
            }
        }

        header {
            width: 100%;

            display: flex;
            align-items: center;
            flex-direction: column;

            > h1 {
                margin-bottom: 0.5em;
            }

            > h2 {
                opacity: 0.8;
            }
        }

        .inps-container {
            width: 100%;

            display: flex;
            flex-direction: column;

            margin-top: -2rem;

            position: relative;
            isolation: isolate;

            .inp-container {
                width: 100%;

                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                transition: 0.5s ease;

                .holder {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }

                .input {
                    input {
                        width: 100%;
                        border: none;

                        background: transparent;
                        border-bottom: 1px solid var(--accent-color);
                        border-radius: 0;

                        outline: none;
                        padding: 0.5em 0;

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        /* Firefox */
                        &[type='number'] {
                            -moz-appearance: textfield;
                        }
                    }

                    .msg {
                        display: flex;
                        align-items: center;
                        width: 100%;

                        margin-top: 1rem;
                    }
                }

                &.code {
                    position: absolute;
                    transform: translateX(200%);

                    .resend {
                        margin: 0 auto;
                        padding: 1rem;

                        width: fit-content;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5em;

                        color: blue;

                        transition: opacity 0.3s ease;

                        &.disable {
                            opacity: 0.6;
                            pointer-events: none;
                        }
                    }
                }
            }

            &.code {
                .inp-container {
                    &.code {
                        position: absolute;
                        transform: translateX(0);
                    }

                    &:not(.code) {
                        transform: translateX(-200%);
                    }
                }
            }
        }
        .cta {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;

            padding: 1rem;

            border-radius: 0.5rem;
            box-shadow: rgb(255 255 255 / 15%) 0px 0px 15px;
            background-color: var(--thirty-percent);

            position: relative;
            isolation: isolate;
            overflow: hidden;

            transition: 0.3s ease;

            &.disable {
                box-shadow: none;
                filter: blur(1px);
                cursor: not-allowed;
            }

            span {
                transition: 0.3s ease;

                &.code {
                    position: absolute;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 100%;
                    height: 100%;

                    transform: translateY(-200%);
                }
            }

            &.code {
                .code {
                    transform: translateY(0);
                }
                :not(.code) {
                    transform: translateY(200%);
                }
            }
        }

        // &.loading {
        //     pointer-events: none;
        //     opacity: 0.4;
        // }

        // .grid {
        //     display: grid;
        //     grid-template-rows: 1fr 1fr;
        //     grid-template-columns: 1fr 2fr;
        //     gap: 0.5rem;
        //     width: 100%;
        // }

        // label.disabled {
        //     opacity: 0.4;
        // }

        // input {
        //     direction: ltr;
        //     font-family: var(--en);

        //     &:invalid {
        //         border-color: var(--red);
        //     }

        //     &:disabled {
        //         opacity: 0.4;
        //     }
        // }

        // button {
        //     width: 60%;
        // }
    }

    button {
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
}
