.orders-container {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    direction: rtl;

    header {
        padding: 0 1rem;
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

        .page-cta {
            border-radius: 0.7rem;
            background: var(--thirty-percent);
            color: white;
            padding: 0.7rem 1rem;

            transition: 0.2s transform ease;

            &:disabled {
                opacity: 0.7;
                filter: blur(2px);
            }

            &:not(:disabled) {
                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }

    .divider {
        width: clamp(0px, 100%, 700px);
        height: 1px;
        background-color: black;
        opacity: 0.2;
    }

    .orders-wrapper {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 2rem;
        column-gap: calc(3rem + 1vw);
        padding: 1rem;

        .loading-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            width: clamp(0px, 100%, 700px);
            padding: 3rem 2rem;
            border-radius: 2rem;
            background-color: white;

            img {
                width: 100px;
                height: 100px;
                object-fit: contain;

                animation: loading-img 1s alternate linear infinite;

                @keyframes loading-img {
                    from {
                        opacity: 1;
                    }
                    to {
                        opacity: 0;
                    }
                }
            }
        }

        .empty-order {
            margin-top: 1rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            // gap: 1rem;

            svg {
                width: 60px;
                height: 60px;
                color: var(--alert-error);
            }
        }

        .order-cmp-wrapper {
            width: clamp(0px, 100%, 600px);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            border-radius: 2rem;

            background-color: white;
            padding: 1rem;

            position: relative;
            z-index: 1;

            .order-loading {
                width: 100%;
                height: 100%;

                position: absolute;
                inset: 0;

                border-radius: inherit;

                z-index: 3;
            }
            .order-cmp {
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;

                @media screen and (max-width: 768px) {
                    flex-direction: column-reverse;
                    justify-content: center;
                }

                .product-img-wrapper {
                    padding: 0.5rem;
                    flex: 0.4 0 0;

                    .product-img {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        height: 300px;

                        // padding: 1rem;

                        border-radius: 1rem;

                        background-color: whitesmoke;

                        overflow: hidden;

                        img,
                        .loading-elem {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }

                .order-infos {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1rem;

                    height: 100%;
                    flex: 0.5 0 0;

                    padding: 1rem;

                    .order-status {
                        width: fit-content;

                        &.resolved {
                            color: var(--alert-success);
                        }
                        &.rejected {
                            color: var(--alert-error);
                        }
                    }

                    .wrapper {
                        width: 100%;
                        margin-block: auto;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        .product-name {
                            .loading-dots-cmp {
                                width: fit-content;
                                scale: 0.5;
                                opacity: 0.7;
                            }
                        }

                        .order-info {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            .order-date {
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;

                                svg {
                                    opacity: 0.7;
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }

                        .order-sum {
                            display: flex;
                            gap: 0.2rem;

                            span {
                                white-space: nowrap;
                            }

                            .toman {
                                scale: 0.8;
                                transform-origin: bottom;
                                opacity: 0.7;
                            }
                        }
                    }

                    .buyer-wrapper {
                        width: 100%;

                        display: flex;
                        flex-direction: column;

                        .buyer-head {
                            width: 100%;

                            display: flex;
                            align-items: center;
                            gap: 1rem;

                            margin-bottom: 0.3em;

                            &::after {
                                content: '';
                                width: 130px;
                                height: 1px;
                                opacity: 0.2;
                                background-color: black;
                            }

                            span {
                                opacity: 0.7;
                                white-space: nowrap;
                            }
                        }

                        .buyer-infos {
                            display: flex;
                            flex-direction: column;
                            // gap: 1rem;

                            .buyer-name {
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;

                                svg {
                                    opacity: 0.7;
                                }
                            }
                            .buyer-info {
                                color: black;

                                opacity: 0.7;

                                display: flex;
                                align-items: center;
                                gap: 0.5rem;

                                .holder {
                                    display: flex;
                                    align-items: center;
                                    gap: 0.5rem;

                                    svg {
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                            }

                            .buyer-name,
                            .buyer-info {
                                padding-block: 0.5rem;

                                svg {
                                    transition: 0.3s transform ease;
                                }
                                &:hover {
                                    svg {
                                        transform: translateX(5px);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .order-ctas {
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                align-content: center;
                gap: 1rem;

                .cta {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;

                    flex: 1 0 0;
                    border-radius: 100vmax;
                    color: white;

                    padding: 0.7rem;
                    font: inherit;

                    transition: 0.2s ease transform;

                    &.reject {
                        background-color: var(--alert-error);
                    }
                    &.submit {
                        background-color: var(--alert-success);
                    }

                    &:disabled {
                        cursor: not-allowed;
                        filter: blur(2px);
                        opacity: 0.7;
                    }

                    &:not(:disabled) {
                        &:active {
                            transform: scale(0.95);
                        }
                    }
                }
            }
        }
    }
}
