.orders-container {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    direction: rtl;

    header {
        padding: 0 1rem;
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

        .page-cta {
            border-radius: 0.7rem;
            background: var(--thirty-percent);
            color: white;
            padding: 0.7rem 1rem;

            transition: 0.2s transform ease;

            &:disabled {
                opacity: 0.7;
                filter: blur(2px);
            }

            &:not(:disabled) {
                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }

    .divider {
        width: clamp(0px, 100%, 700px);
        height: 1px;
        background-color: black;
        opacity: 0.2;
    }

    .orders-wrapper {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 2rem;
        column-gap: calc(3rem + 1vw);
        padding: 1rem;

        .empty-order {
            margin-top: 1rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            // gap: 1rem;

            svg {
                width: 60px;
                height: 60px;
                color: var(--alert-error);
            }
        }

        .order-cmp {
            width: clamp(0px, 100%, 600px);
            border-radius: 2rem;

            background-color: white;

            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            padding: 1rem;

            .product-img-wrapper {
                padding: 0.5rem;
                flex: 0.4 0 0;

                .product-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 300px;

                    // padding: 1rem;

                    border-radius: 1rem;

                    background-color: whitesmoke;

                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }

            .order-infos {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;

                height: 100%;
                flex: 0.5 0 0;

                padding: 1rem;

                .order-status {
                    width: fit-content;

                    &.success {
                        color: var(--alert-success);
                    }
                    &.error {
                        color: var(--alert-error);
                    }
                }

                .wrapper {
                    width: 100%;
                    margin-block: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    .order-info {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                    }

                    .order-sum {
                        display: flex;
                        gap: 0.2rem;

                        span {
                            white-space: nowrap;
                        }

                        .toman {
                            scale: 0.8;
                            transform-origin: bottom;
                            opacity: 0.7;
                        }
                    }
                }

                .buyer-wrapper {
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .buyer-head {
                        width: 100%;

                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        &::after {
                            content: '';
                            width: 130px;
                            height: 1px;
                            opacity: 0.2;
                            background-color: black;
                        }

                        span {
                            opacity: 0.7;
                            white-space: nowrap;
                        }
                    }

                    .buyer-infos {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        .buyer-name {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            svg {
                                opacity: 0.7;
                            }
                        }
                        .buyer-info {
                            color: black;

                            opacity: 0.7;

                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            .holder {
                                display: flex;
                                align-items: center;
                                gap: 0.2rem;

                                svg {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }

                        .buyer-name,
                        .buyer-info {
                            svg {
                                transition: 0.5s transform ease;
                            }
                            &:hover {
                                svg {
                                    transform: translateX(5px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
