.storage-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    padding: 5vh 3vw;

    overflow: auto;

    position: relative;
    isolation: isolate;

    .main-cta {
        width: clamp(0px, 100%, 200px);

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 1rem;

        cursor: pointer;

        background-color: var(--ca);

        border-radius: 8px;

        border: none;

        transition: 0.3s ease;

        &:hover {
            transform: translateY(2px) scale(0.98);
        }
    }

    .loading {
        position: absolute;
        z-index: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        width: 100%;
        height: 100%;

        direction: rtl;

        .loading-wrapper {
            width: 100%;

            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1rem;

            margin-top: 8rem;

            .loading-dots {
                width: 100px;
                aspect-ratio: 1;

                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;

                > div {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 16px;
                    height: 16px;
                    margin: auto;
                    border-radius: 50%;
                    background-color: #fff;
                    transform: rotate(0deg) translateY(-30px);
                    animation: dot4 2s infinite;

                    &:nth-child(2) {
                        width: 13px;
                        height: 13px;
                        animation: dot4 2s 0.1s infinite;
                    }
                    &:nth-child(3) {
                        width: 11px;
                        height: 11px;
                        animation: dot4 2s 0.2s infinite;
                    }
                    &:nth-child(4) {
                        width: 9px;
                        height: 9px;
                        animation: dot4 2s 0.3s infinite;
                    }
                    &:nth-child(5) {
                        width: 7px;
                        height: 7px;
                        animation: dot4 2s 0.4s infinite;
                    }
                    &:nth-child(6) {
                        width: 5px;
                        height: 5px;
                        animation: dot4 2s 0.5s infinite;
                    }

                    @keyframes dot4 {
                        0% {
                            transform: rotate(0deg) translateY(-30px);
                        }
                        100% {
                            transform: rotate(360deg) translateY(-30px);
                        }
                    }
                }
            }

            p {
                font-size: 2em;
            }
        }
    }

    .empty-storage {
        width: 100%;
        text-align: center;
        font-size: 2em;
        direction: rtl;
        margin-top: 4em;
    }

    .storage-items {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        flex-wrap: wrap;

        row-gap: 30px;
        column-gap: 40px;

        .item {
            flex-shrink: 0;

            display: flex;
            align-items: center;
            flex-direction: column;

            padding: 8px;

            width: clamp(0px, 100%, 350px);
            aspect-ratio: 1 /1.2;

            background-color: var(--cd);
            border-radius: 12px;

            cursor: pointer;

            overflow: hidden;

            .img-container {
                width: 100%;
                height: 200px;

                display: flex;
                align-items: center;
                justify-content: center;

                background-color: var(--cg);
                border-radius: 8px;

                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;

                    border-radius: inherit;

                    object-fit: contain;
                }

                svg {
                    width: 50px;
                    height: 50px;
                }
            }

            .data-wrapper {
                width: 100%;
                flex: 1 0 0;

                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;

                padding: 0.5rem;

                .item-count {
                    font-weight: bold;
                    font-size: 1.5em;
                }
                .item-name {
                    font-size: 1.2em;
                }
            }
        }
    }
}
