.storage-container {
    width: 100%;

    position: relative;
    isolation: isolate;

    .loading {
        position: absolute;
        z-index: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        width: 100%;
        height: 100%;

        direction: rtl;

        .loading-wrapper {
            width: 100%;

            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1rem;

            margin-top: 8rem;

            .loading-dots {
                width: 100px;
                aspect-ratio: 1;

                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;

                > div {
                    position: absolute;
                    inset: 0;

                    width: 16px;
                    height: 16px;
                    margin: auto;
                    border-radius: 50%;
                    background-color: #fff;
                    transform: rotate(0deg) translateY(-30px);
                    animation: dot4 2s infinite;

                    &:nth-child(2) {
                        width: 13px;
                        height: 13px;
                        animation: dot4 2s 0.1s infinite;
                    }
                    &:nth-child(3) {
                        width: 11px;
                        height: 11px;
                        animation: dot4 2s 0.2s infinite;
                    }
                    &:nth-child(4) {
                        width: 9px;
                        height: 9px;
                        animation: dot4 2s 0.3s infinite;
                    }
                    &:nth-child(5) {
                        width: 7px;
                        height: 7px;
                        animation: dot4 2s 0.4s infinite;
                    }
                    &:nth-child(6) {
                        width: 5px;
                        height: 5px;
                        animation: dot4 2s 0.5s infinite;
                    }

                    @keyframes dot4 {
                        0% {
                            transform: rotate(0deg) translateY(-30px);
                        }
                        100% {
                            transform: rotate(360deg) translateY(-30px);
                        }
                    }
                }
            }

            p {
                font-size: 2em;
            }
        }
    }

    .storage-wrapper {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        padding: 5vh 3vw;

        overflow: auto;

        .main-cta {
            width: clamp(0px, 100%, 200px);

            display: flex;
            align-items: center;
            justify-content: center;

            padding: 1rem;

            cursor: pointer;

            background-color: var(--ca);

            border-radius: 8px;

            border: none;

            transition: 0.3s ease;

            &:hover {
                transform: translateY(2px) scale(0.98);
            }
        }

        .empty-storage {
            width: 100%;
            text-align: center;
            font-size: 2em;
            direction: rtl;
            margin-top: 4em;
        }

        .storage-items {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            flex-wrap: wrap;

            row-gap: 30px;
            column-gap: 40px;

            .item {
                flex-shrink: 0;

                display: flex;
                align-items: center;
                flex-direction: column;

                padding: 8px;

                width: clamp(0px, 100%, 350px);

                background-color: var(--cd);
                background-image: linear-gradient(45deg, black, transparent);
                border-radius: 12px;

                cursor: pointer;

                overflow: hidden;

                position: relative;
                isolation: isolate;

                &.warn {
                    &::before {
                        background-image: linear-gradient(
                            to bottom,
                            rgb(255 214 0 / 42%),
                            transparent 50%
                        );
                    }
                }
                &.red {
                    &::before {
                        background-image: linear-gradient(
                            to bottom,
                            rgb(255 0 0 / 42%),
                            transparent 50%
                        );
                    }
                }

                &::before {
                    content: '';

                    position: absolute;
                    top: 0;

                    width: 100%;
                    height: 100%;

                    z-index: -1;
                }

                .item-infos {
                    width: 100%;

                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 1rem;

                    margin-block: 1rem;

                    direction: rtl;

                    .item-row {
                        width: 100%;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .item-info {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            gap: 0.5rem;

                            &:hover {
                                .holder {
                                    transform: translateY(-25%);
                                }
                            }

                            .holder {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 0.5rem;

                                transition: 0.3s ease;

                                svg {
                                    width: 20px;
                                    height: 20px;
                                }
                            }

                            .data {
                                display: flex;
                                align-items: center;
                                flex-direction: column;

                                .row {
                                    width: 100%;
                                }

                                span {
                                    &.time {
                                        letter-spacing: 1px;
                                    }
                                }
                            }
                        }
                    }
                }

                .img-container {
                    width: 100%;
                    height: 200px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background-color: var(--cg);
                    border-radius: 8px;

                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;

                        border-radius: inherit;

                        object-fit: contain;
                    }

                    svg {
                        width: 50px;
                        height: 50px;
                    }
                }

                .data-wrapper {
                    width: 100%;
                    flex: 1 0 0;

                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    align-items: center;

                    padding: 0.5rem;
                    padding-bottom: 1rem;

                    .item-count-container {
                        width: 100%;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 0.5rem;

                        .item-count {
                            width: 100%;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            color: white;

                            font-weight: bold;

                            &::before,
                            &::after {
                                content: '';

                                width: 100%;
                                height: 1px;

                                background-color: currentColor;
                            }

                            span {
                                white-space: nowrap;
                                padding: 0 1em;
                            }
                        }
                    }

                    .item-name {
                        height: 2em;
                        text-align: center;
                        margin-block: 1em;

                        text-wrap: pretty;
                    }
                }

                .delete-cta {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5em;

                    width: 100%;
                    border-radius: 8px;

                    padding: 0.7em;

                    background-color: var(--red);
                    border: none;

                    cursor: pointer;
                }
            }
        }
    }

    .popup-container {
        width: 100%;
        height: 100%;

        position: absolute;
        inset: 0;
        z-index: 4;

        display: flex;
        align-items: center;
        justify-content: center;

        backdrop-filter: blur(5px);

        opacity: 0;
        visibility: hidden;

        transition: 0.3s ease;

        @media screen and (max-width: 1024px) {
            padding: 1rem;
        }
        @media screen and (max-width: 768px) {
            align-items: unset;
            padding: 0.5rem;
        }

        &.show {
            opacity: 1;
            visibility: visible;
        }

        .popup-wrapper {
            width: clamp(0px, 100%, 850px);
            height: 425px;

            display: flex;
            align-items: center;

            gap: 1rem;

            padding: 1rem;

            background-color: var(--cd);

            border-radius: 12px;

            direction: rtl;

            position: relative;
            isolation: isolate;

            @media screen and (max-width: 768px) {
                height: max-content;
                flex-direction: column;

                padding-top: calc(1rem + 40px);
            }

            .close-form {
                position: absolute;
                top: 0;
                left: 0;

                display: flex;
                justify-content: center;
                align-items: center;

                padding: 10px;

                background-color: transparent;

                cursor: pointer;

                outline: none;
                border: none;

                svg {
                    transition: 0.3s;
                }

                &:hover {
                    svg {
                        scale: 1.2;
                    }
                }
            }

            .data-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1rem;

                height: 100%;

                @media screen and (max-width: 768px) {
                    height: auto;

                    width: 100%;
                }

                .img-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: 80%;
                    max-height: 380px;
                    aspect-ratio: 1;

                    background-color: var(--cg);
                    border-radius: 8px;

                    overflow: hidden;

                    .img-wrapper {
                        width: 100%;
                        height: 100%;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        position: relative;
                        isolation: isolate;

                        &:hover {
                            .clear-img {
                                opacity: 1;
                                visibility: visible;
                            }
                        }

                        .clear-img {
                            position: absolute;
                            inset: 0;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            width: 100%;
                            height: 100%;

                            z-index: 2;

                            backdrop-filter: blur(3px);
                            background: #e2033885;

                            opacity: 0;
                            visibility: hidden;

                            cursor: pointer;

                            transition: 0.5s ease;

                            svg {
                                width: 70px;
                                height: 70px;
                            }
                        }

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: contain;

                            cursor: pointer;
                        }
                    }

                    .upload-image {
                        width: 100%;
                        height: 100%;
                        border-radius: inherit;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        cursor: pointer;

                        padding: 1rem;

                        input {
                            display: none;
                        }

                        svg {
                            width: 100px;
                            height: 100px;

                            @media screen and (max-width: 1024px) {
                                width: 80px;
                                height: 80px;

                                margin-bottom: 0.5rem;
                            }
                        }

                        p {
                            margin-bottom: 0.5em;
                            font-weight: bold;
                        }

                        span {
                            text-align: center;
                            text-wrap: pretty;
                        }
                    }
                }

                .count-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    flex-direction: column;

                    gap: 0.2rem;

                    width: 100%;

                    .holder {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        text-align: center;
                    }

                    .count {
                        width: 100%;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &.error {
                            color: var(--red);
                        }

                        &::before,
                        &::after {
                            content: '';

                            width: 100%;
                            height: 1px;

                            background-color: currentColor;

                            transition: 0.3s;
                        }
                        span {
                            white-space: nowrap;

                            padding: 0 1rem;

                            text-align: center;
                            font-size: 1.5em;
                            font-weight: bold;

                            direction: ltr;

                            transition: 0.3s;
                        }
                    }
                }
            }

            .inps-wrapper {
                flex: 1 0 0;
                height: 100%;

                display: flex;
                flex-direction: column;

                @media screen and (max-width: 768px) {
                    height: auto;

                    width: 100%;
                }

                .inp-wrapper {
                    width: 100%;

                    display: flex;
                    flex-direction: column;

                    direction: rtl;

                    padding: 1rem 0;

                    &:not(:first-child) {
                        padding-top: 0;
                    }

                    .holder {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                    }

                    input {
                        border: none;

                        font-size: 1em;
                        font: inherit;

                        border-radius: 8px;
                        // background-color: ;

                        padding: 0.8em;

                        margin-top: 0.5em;

                        &:focus {
                            outline: none;
                        }

                        &.disable {
                            pointer-events: none;
                        }
                    }
                }
                .counter-update {
                    width: 100%;

                    display: flex;
                    flex-direction: column;

                    margin-top: 2rem;

                    button {
                        outline: none;
                        border: none;
                        cursor: pointer;

                        font: inherit;
                    }

                    .main-inp {
                        width: 100%;
                        height: 50px;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 1rem;

                        input {
                            height: 100%;
                            width: 100%;

                            background-color: transparent;

                            border: none;
                            border-bottom: 1px solid white;
                            outline: none;

                            text-align: center;

                            font: inherit;
                            font-weight: bold;
                            font-size: 1.3em;

                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }

                            /* Firefox */
                            &[type='number'] {
                                -moz-appearance: textfield;
                            }
                        }

                        .icon {
                            height: 100%;
                            aspect-ratio: 1;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            background-color: var(--cg);

                            border-radius: 8px;

                            &.plus {
                                background-image: linear-gradient(
                                    45deg,
                                    rgba(0, 128, 0, 0.6) -50%,
                                    transparent
                                );
                            }
                            &.minus {
                                background-image: linear-gradient(
                                    45deg,
                                    rgba(255, 0, 0, 0.6) -50%,
                                    transparent
                                );
                            }
                        }
                    }

                    .counter-action {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        border-radius: 8px;

                        margin-top: 2rem;

                        background: var(--cg);

                        overflow: hidden;

                        position: relative;
                        isolation: isolate;

                        @media screen and (max-width: 768px) {
                            margin-top: 2.5rem;
                        }

                        &::before {
                            content: '';
                            width: 50%;
                            height: 100%;

                            position: absolute;
                            right: 0;

                            border-radius: inherit;

                            z-index: -1;

                            background-color: var(--green);

                            transition: 0.3s ease;
                        }

                        &.sold {
                            &::before {
                                transform: translateX(-100%);
                                background-color: var(--red);
                            }
                        }

                        .action {
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;

                            background-color: transparent;

                            width: 50%;

                            padding: 1rem;

                            &.minus {
                                background-image: linear-gradient(
                                    45deg,
                                    #9b2222,
                                    transparent
                                );
                            }
                            &.plus {
                                background-image: linear-gradient(
                                    45deg,
                                    #229b36,
                                    transparent
                                );
                            }
                        }
                    }
                }

                .popup-cta {
                    background: var(--blue);
                    border: none;
                    border-radius: 8px;
                    padding: 0.5em;

                    margin-top: auto;

                    cursor: pointer;

                    @media screen and (max-width: 768px) {
                        margin-top: 2.5rem;
                        padding: 1em;
                    }
                }
            }
        }
    }
}
