.products-page-container {
    width: 100%;

    background-color: var(--accent-color);

    padding-top: 10vh;

    .products-header {
        display: grid;
        place-items: center;
        color: var(--primary-color);

        width: 100%;
        aspect-ratio: 1/0.19;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: left 40%;

        @media screen and (max-width: 768px) {
            aspect-ratio: 1/0.3;
        }

        .header-title {
            color: white;
        }
    }

    .products-wrapper {
        width: 100%;

        // debug
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        .product-card {
            width: clamp(0px, 100%, 400px);
            aspect-ratio: 0.8/1;

            background-color: black;

            border-radius: 10px;
        }
    }
}
